{# Default template for popup #}
{% load workspaces %}

{% for location in locations %}
  <h2>Oeverkenmerk {{ location.location_code }}</h2>
  {% if location.complete %}
    {% with measurement=location.measurement %}
      <table>
        <thead>
          <th>Oever</th><th>Meting {{ location.activity.contractor.name }}</th>
        </thead>
        <tr>
          <td>links</td>
          <td><strong>{{ measurement.data.description_left }} ({{ measurement.data.left }})</strong></td>
        </tr>
        <tr>
          <td>rechts</td>
          <td><strong>{{ measurement.data.description_right }} ({{ measurement.data.right }})</strong></td>
        </tr>
      </table>
    {% endwith %}
  {% else %}
    <p>Meting nog niet verricht.</p>
  {% endif %}
{% endfor %}
