{# Default template for popup #}
{% load workspaces %}

{% for location in locations %}

  <h2>Peilschaalmeting {{ location.location_code }}</h2>
  {% if location.complete %}
    {% with measurement=location.measurement %}
      <table>
        <thead>
          <th>Veld</th><th>Meting {{ location.activity.contractor.name }}</th>
        </thead>
        <tr>
          <td>Datum</td>
          <td><strong>{{ measurement.data.date }}</strong></td>
        </tr>
        <tr>
          <td>Tijd</td>
          <td><strong>{{ measurement.data.time }}</strong></td>
        </tr>
        <tr>
          <td>Aflezing</td>
          <td><strong>{{ measurement.data.peilschaal }}</strong></td>
        </tr>
        <tr>
          <td>Meting</td>
          <td><strong>{{ measurement.data.measurement }}</strong></td>
        </tr>
        <tr>
          <td>Opmerking</td>
          <td><strong>{{ measurement.data.comment }}</strong></td>
        </tr>
      </table>
    {% endwith %}
  {% else %}
    <p>Meting nog niet verricht.</p>
  {% endif %}
{% endfor %}
