{% with location=locations.0 %}
  {% if location.location_type == "pipe" %}
     <h3>Streng {{ location.location_code }}</h3>
  {% elif location.location_type == "manhole" %}
     <h3>Put {{ location.location_code }}</h3>
  {% elif location.location_type == "drain" %}
     <h3>Kolk {{ location.location_code }}</h3>
  {% else %}
     <h3>Onbekend rioleringselement {{ location.location_code }}</h3>
  {% endif %}
  {% if location.complete %}
     <h3>Compleet</h3>
  {% endif %}
  {% if location.not_part_of_project %}
    <strong>Dit object is geen eigendom van {{
    location.activity.project.organization }} en hoort niet bj de
    werkzaamheden.</strong>
  {% else %}
    <p>Opdrachtnemer: {{ location.activity.contractor }}<br />
    Werkzaamheid: {{ location.activity.measurement_type }}</p>
  {% endif %}

  {% with measurements=location.measurement_set.all %}
    {% if measurements %}
      <p>Bestanden:</p>
      <ul>
        {% for measurement in measurements %}
          {% if measurement.data.filetype == "ribx" %}
            <li><a href="{{ measurement.get_absolute_url }}">{{ measurement.base_filename }}</a> ({{ measurement.date|date:"DATE_FORMAT" }})</li>
          {% endif %}
        {% endfor %}
        {% for measurement in measurements %}
          {% if measurement.data.filetype != "ribx" %}
            <li><a href="{{ measurement.get_absolute_url }}">{{ measurement.base_filename }}</a>
              {% if measurement.date %} ({{ measurement.date|date:"DATE_FORMAT" }}){% endif %}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% with attachments=location.missing_attachments %}
    {% if attachments %}
      <p>Nog te uploaden bestanden voor deze code:</p>
      <ul>
        {% for a in attachments %}
          <li>{{ a.filename }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% if location.planned_date %}
    <p>De geplande datum voor deze locatie is {{ location.planned_date|date:"DATE_FORMAT" }}.</p>
  {% endif %}
{% endwith %}
