{% with location=locations.0 %}
  <h2>Rioleringinspectie {{ location.location_code }}</h2>
  {% with measurements=location.measurement_set.all %}
    {% if measurements %}
      <p>Bestanden:</p>
      <ul>
        {% for measurement in measurements %}
          {% if measurement.data.filetype == "ribx" %}
            <li><a href="{{ measurement.url }}">{{ measurement.base_filename }}</a> ({{ measurement.date|date:"DATE_FORMAT" }})</li>
          {% endif %}
        {% endfor %}
        {% for measurement in measurements %}
          {% if measurement.data.filetype != "ribx" %}
            <li><a href="{{ measurement.url }}">{{ measurement.base_filename }}</a>
              {% if measurement.date %} ({{ measurement.date|date:"DATE_FORMAT" }}){% endif %}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% with attachments=location.missing_attachments %}
    {% if attachments %}
      <p>Nog te uploaden bestanden voor deze code:</p>
      <ul>
        {% for a in attachments %}
          <li>{{ a.filename }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% if location.planned_date %}
    <p>De geplande datum voor deze locatie is {{ location.planned_date|date:"DATE_FORMAT" }}.</p>
  {% endif %}
{% endwith %}
