{% extends "lizard_progress/progressbase.html" %}

{% block contentpage %}
<h2>Gesloten aanvragen {{ view.project.name }}</h2>

{% with closedrequests=view.closed_requests %}
{% if closedrequests %}
<table class="table progressbase">
    <thead>
     <tr>
      <th>Status</th>
      <th>Datum</th>
      <th>Organisatie</th>
      <th>Werkzaamheid</th>
      <th>Aanvraagtype</th>
      <th>Locatie</th>
      <th></th>
     </tr>
    </thead>
    <tbody>
    {% for request in closedrequests %}
    <tr class="clickable{% if request.is_accepted %} success{% endif %}{% if request.is_refused %} danger{% endif %}{% if request.is_invalid %} warning{% endif %}" data-url="{{ request.detail_url }}">
      <td>{{ request.status_description }}</td>
      <td>{{ request.creation_date|date:"d/m" }}</td>
      <td>{{ request.contractor.organization }}</td>
      <td>{{ request.mtype }}</td>
      <td>{{ request.type_description }}</td>
      <td>{{ request.location_code }}
        {% if request.old_location_code %} (vervangt {{ request.old_location_code }}{% endif %}</td>
      <td><a href="{{ request.detail_url }}">bekijk</a></td>
    </tr>
    {% endfor %}
    </tbody>
{% else %}
<p>Er zijn geen gesloten aanvragen voor dit project.</p>
{% endif %}
{% endwith %}
{% endblock contentpage %}
