{% extends "lizard_progress/progressbase.html" %}

{% block contentpage %}

{% with view.changerequest as cr %}

<h3>Aanvraag ({{ cr.status_description }})</h3>

<dl class="dl-horizontal">
  <dt>Aanvrager</dt>
  <dd>{{ cr.contractor.organization }}</dd>

  <dt>Type aanvraag</dt>
  <dd>{{ cr.type_description }}</dd>

  <dt>Locatie</dt>
  <dd>{{ cr.location_code }}{% if cr.old_location_code %} (vervangt {{cr.old_location_code }}){% endif %}</dd>

  <dt>Werkzaamheid</dt>
  <dd>{{ cr.mtype }}</dd>

  <dt>Motivatie</dt>
  <dd>{% if view.user_is_contractor and cr.is_open %}
    <form action="{{ cr.detail_url }}change_motivation/" method="post">
 {% csrf_token %}
 <textarea cols="50" rows="4" name="motivation">{{ cr.motivation }}</textarea><br />
 <input class="btn" type="submit" value="Motivatie opslaan">
 </form>
{% else %}
   {{ cr.motivation }}
{% endif %}
   </dd>
  {% if cr.refusal_reason %}
    <dt>Geweigerd vanwege</dt>
    <dd>{{ cr.refusal_reason }}</dd>
  {% endif %}
  {% if cr.invalid_reason %}
    <dt>Ongeldig vanwege</dt>
    <dd>{{ cr.invalid_reason }}</dd>
  {% endif %}
  {% if cr.is_open %}
  <dt>Goedkeuring</dt>
  <dd>
    <form action="{{ cr.detail_url }}acceptance/" method="post">
    {% csrf_token %}
    {% if view.user_is_manager %}
    <input type="submit" name="accept" class="btn btn-success" value="Goedkeuren">
    <input type="submit" name="refuse" class="btn btn-danger" value="Afkeuren">
    Reden: <input name="reason" type="text" value="">
    {% if view.acceptance_error %}<span style="color: red">{{ view.acceptance_error }}</span>{% endif %}
    {% else %}
    <input type="submit" name="withdraw" class="btn btn-danger" value="Annuleren">
    {% endif %}
    </form>
  </dd>
  {% endif %}
</dl>

<h3>Commentaar</h3>
<dl class="dl-horizontal">
  {% for comment in cr.requestcomment_set.all %}
    <dt>{% if comment.user.get_full_name %}{{ comment.user.get_full_name }}{% else %}{{ comment.user.username }}{% endif %} op {{ comment.comment_time|date:"d/m" }}</dt>
    <dd>{{ comment.comment }}</dd>
  {% endfor %}
    <br />
    <dt></dt>
    <dd>
    <form action="{{ cr.detail_url }}add_comment/" method="post">
    {% csrf_token %}
    <textarea name="comment" cols="50" rows="4"></textarea><br />
    <input class="btn" type="submit" value="Commentaar toevoegen">
    </form>
    </dd>
</dl>

{% endwith %}

{% endblock contentpage %}
