{% extends "lizard_progress/activity_dashboard.html" %}

{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}


    <div class="container" id="project-details">

      
      <div class="row">

        {% with view.changerequest as cr %}
        <div class="col-md-11">        
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group btn-breadcrumb">
                            <a href="{% url "lizard_progress_activitiesView" view.project.slug %}" class="btn btn-default"><i class="fa fa-tasks"></i></a>
                            <a href="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=view.activity.id %}" class="btn btn-default">Voortgang {{ view.activity|truncatechars:35 }}</a>
                            <a href="../../" class="btn btn-default"><i class="fa fa-question-circle"></i>&nbsp;Open aanvragen</a>
                            <a href="." class="btn btn-default"><i class="fa fa-cog"></i>&nbsp;Aanvraag ({{ cr.status_description }})</a>
                        </div>                                 
                    </div>
                    <div class="panel-body">

                    

                        <dl class="dl-horizontal">
                            <dt>Type aanvraag</dt>
                            <dd>{{ cr.type_description }}</dd>

                            <dt>Locatie</dt>
                            <dd>
                                {{ cr.location_code }}
                                {% if cr.old_location_code %}
                                    (vervangt {{cr.old_location_code }})
                                {% endif %}
                            </dd>

                            {% if cr.request_type == 2 %}
                                <dt>Nieuwe co&ouml;rdinaten</dt>
                                <dd>({{ cr.the_geom.x }}, {{ cr.the_geom.y }})</dd>
                            {% endif %}

                            {% if cr.request_type == 3 %}
                                <dt>Co&ouml;rdinaten</dt>
                                <dd>({{ cr.the_geom.x }}, {{ cr.the_geom.y }})</dd>
                            {% endif %}

                            <dt>Werkzaamheid</dt>
                            <dd>{{ cr.activity }}</dd>

                            <dt>Motivatie</dt>
                            <dd>
                                {% if view.user_is_contractor and cr.is_open %}
                                    <form action="{{ cr.get_absolute_url }}change_motivation/" method="post" class="form-horizontal">
                                        {% csrf_token %}
                                        <textarea cols="50" rows="4" name="motivation">{{ cr.motivation }}</textarea><br />
                                        <input class="btn" type="submit" value="Motivatie opslaan">
                                    </form>
                                {% else %}
                                    {{ cr.motivation }}
                                {% endif %}
                            </dd>
                            {% if cr.refusal_reason %}
                                <dt>Geweigerd vanwege</dt>
                                <dd>{{ cr.refusal_reason }}</dd>
                            {% endif %}
                            {% if cr.invalid_reason %}
                                <dt>Ongeldig vanwege</dt>
                                <dd>{{ cr.invalid_reason }}</dd>
                            {% endif %}
                            {% if cr.is_open %}
                                <dt>Goedkeuring</dt>
                                <dd>
                                    <form action="{{ cr.get_absolute_url }}acceptance/" method="post">
                                        {% csrf_token %}
                                        {% if view.user_is_manager %}
                                            <input type="submit" name="accept" class="btn btn-success" value="Goedkeuren">
                                            <input type="submit" name="refuse" class="btn btn-danger" value="Afkeuren">
                                            <p>Reden: <input name="reason" class="form-control" type="text" value="">
                                            {% if view.acceptance_error %}
                                                <span class="text-error">
                                                    {{ view.acceptance_error }}
                                                </span></p>
                                            {% endif %}
                                        {% else %}
                                            <input type="submit" name="withdraw" class="btn btn-danger" value="Annuleren">
                                        {% endif %}
                                    </form>
                                </dd>
                            {% endif %}
                            <dt></dt>
                            <dd>
				{# TODO: remove when releasing #}
                                <a href="{% url "lizard_progress_newmap_change_request" project_slug=view.project_slug change_request=cr.id %}" class="btn btn-default"><i class="fa fa-globe"></i>&nbsp;Toon op kaart</a>
                            </dd>
                        </dl>

                        </div>
                    </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-cog"></i>&nbsp;Commentaar</h3>
                    </div>
                    <div class="panel-body">

                        <dl class="dl-horizontal">
                            {% for comment in cr.requestcomment_set.all %}
                                <dt>
                                    {% if comment.user.get_full_name %}
                                        {{ comment.user.get_full_name }}
                                    {% else %}
                                        {{ comment.user.username }}
                                    {% endif %}
                                </dt>
                                <dd>{{ comment.comment }} <p class="small text-muted" style="cursor:pointer;" data-toggle="tooltip" data-placement="left" title="" data-original-title="{{comment.comment_time|date:"d/m"}}">{{ comment.comment_time|timesince }} geleden</p></dd>
                                

                            {% endfor %}
                            <dt></dt>
                            <dd>
                                <form action="{{ cr.get_absolute_url }}add_comment/" method="post">
                                    {% csrf_token %}
                                    <textarea name="comment" cols="50" rows="4"></textarea><br />
                                    <button class="btn" type="submit"><i class="fa fa-weixin"></i>&nbsp;Commentaar toevoegen</button>
                                </form>
                            </dd>
                        </dl>

                    </div>
                    </div>                    
    </div>
    {% endwith %}







{% include "lizard_progress/sidebar_include.html" with active="activities" %}
</div>
</div>
{% endblock content %}
