{% extends "lizard_progress/activity_dashboard.html" %}


{% block extra_js %}
<script>
$(document).on('ready', function() {
	$('input.form-control').first().focus();
});
</script>
{% endblock extra_js %}

{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}


    <div class="container" id="project-details">

      
      <div class="row">

        <div class="col-md-11">        

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="{% url "changerequests_main" project_slug=view.project_slug activity_id=view.activity_id %}">Aanvragen</a></li>
            <li role="presentation"><a href="{% url "changerequests_closed" project_slug=view.project_slug activity_id=view.activity_id %}">Afgesloten aanvragen</a></li>
            <li role="presentation"{% if view.description == 'Locatiecode laten vervallen' %} class="active"{% endif %}>
            	<a href="{% url "changerequests_removecode" project_slug=view.project_slug activity_id=view.activity_id %}">Locatiecode laten vervallen</a></li>
            <li role="presentation"{% if view.description == 'Locatiecode verplaatsen' %} class="active"{% endif %}>
            	<a href="{% url "changerequests_movelocation" project_slug=view.project_slug activity_id=view.activity_id %}">Locatiecode verplaatsen</a></li>
            <li role="presentation"{% if view.description == 'Nieuwe of vervangende locatiecode' %} class="active"{% endif %}>
            	<a href="{% url "changerequests_newlocation" project_slug=view.project_slug activity_id=view.activity_id %}">Nieuwe/vervangende locatiecode</a></li>
          </ul>



          <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="project">


              <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="btn-group btn-breadcrumb">
                        <a href="{% url "lizard_progress_activitiesView" view.project.slug %}" class="btn btn-default"><i class="fa fa-tasks"></i></a>
                        <a href="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=view.activity.id %}" class="btn btn-default">Voortgang {{ view.activity|truncatechars:35 }}</a>
                        <a href="." class="btn btn-default"><i class="fa fa-question-circle"></i>&nbsp;{{ view.description }}</a>
                      </div>                                              
                    </div>

                        <div class="panel-body">            

							<form action="{{ view.url }}" method="post">
							{% csrf_token %}
							{{ view.form.as_p }}
							<input type="submit" class="btn" value="Aanvragen">
							</form>

			   </div>
	        </div>                
        </div>
        </div>
        </div>




    
	{% include "lizard_progress/sidebar_include.html" with active="activities" %}
</div>
{% endblock content %}
