{% extends "lizard_progress/progressbase.html" %}

{% block contentpage %}
<h2>Aanvragen {{ view.project.name }}</h2>

<table class="table progressbase">
{% with openrequests=view.open_requests %}
{% with closedrequests=view.recently_closed_requests %}
  {% if openrequests %}
    <tbody><tr><td colspan="7"><h3>Open aanvragen</h3></td></tr></tbody>
    <tbody>
     <tr>
      <th></th>
      <th>Datum</th>
      <th>Organisatie</th>
      <th>Werkzaamheid</th>
      <th>Aanvraagtype</th>
      <th>Locatie</th>
      <th></th>
     </tr>
    </tbody>
    <tbody>
    {% for request in openrequests %}
    <tr class="clickable" data-url="{{ request.detail_url }}">
      <td>{% if not request.did_last_action %}<i class="icon icon-warning-sign"></i>{% endif %}</td>
      <td>{{ request.creation_date|date:"d/m" }}</td>
      <td>{{ request.contractor.organization }}</td>
      <td>{{ request.mtype }}</td>
      <td>{{ request.type_description }}</td>
      <td>{{ request.location_code }}
        {% if request.old_location_code %} (vervangt {{ request.old_location_code }}){% endif %}</td>
      <td><a href="{{ request.detail_url }}">bekijk</a></td>
    </tr>
    {% endfor %}
    </tbody>
  {% endif %}

<tbody>
  <tr>
    <td colspan="7">
      <h3>Recente afgesloten aanvragen</h3>
    </td>
  </tr>
</tbody>
  {% if closedrequests %}
    <tbody>
     <tr>
      <th>Status</th>
      <th>Datum</th>
      <th>Organisatie</th>
      <th>Werkzaamheid</th>
      <th>Aanvraagtype</th>
      <th>Locatie</th>
      <th></th>
     </tr>
    {% for request in closedrequests %}
    <tr class="{% if request.is_accepted %}success{% endif %}{% if request.is_refused %}danger{% endif %}{% if request.is_invalid %}warning{% endif %}" data-url="{{ request.detail_url }}">
    {% comment %}
The tds are clickable here, and not the trs, because the last td should not be clickable. Otherwise clicking the 'X' button does both things.
    {% endcomment %}
      <td class="clickable">{{ request.status_description }}</td>
      <td class="clickable">{{ request.creation_date|date:"d/m" }}</td>
      <td class="clickable">{{ request.contractor.organization }}</td>
      <td class="clickable">{{ request.mtype }}</td>
      <td class="clickable">{{ request.type_description }}</td>
      <td class="clickable">{{ request.location_code }}
        {% if request.old_location_code %} (vervangt {{ request.old_location_code }}{% endif %}</td>
      <td><button class="close" type="button" title="Markeer als gezien" data-post-url="{{ request.detail_url }}set_seen/" aria-hidden="true">&times;</button></td>
    </tr>
    {% endfor %}
  {% endif %}
    <td colspan="7">
      <a href="{% url "changerequests_closed" project_slug=view.project_slug %}">Klik hier voor een overzicht van alle afgesloten aanvragen van dit project</a>
    </td>
    </tbody>
{% endwith %}
{% endwith %}

<tbody>
<tr>
  <td colspan="7"><h3>Nieuwe aanvragen</h3></td>
</tr>
<tr>
  <td colspan="7">
    <button type="button" class="redirect btn btn-primary" data-redirect-url="{% url "changerequests_removecode" project_slug=view.project_slug %}">Locatiecode laten vervallen</button>
    <button type="button" class="redirect btn btn-primary" data-redirect-url="{% url "changerequests_movelocation" project_slug=view.project_slug %}">Locatiecode verplaatsen</button>
    <button type="button" class="redirect btn btn-primary" data-redirect-url="{% url "changerequests_newlocation" project_slug=view.project_slug %}">Nieuwe of vervangende locatiecode</button>
  </td>
</tr>
</tbody>
</table>
{% endblock contentpage %}
