{% extends "lizard_progress/activity_dashboard.html" %}

{% block javascript %}
    <script src="{{ STATIC_URL }}lizard_progress/lizard_progress.js"></script>
{% endblock javascript %}

{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}


    <div class="container" id="project-details">

      
      <div class="row">

        <div class="col-md-11">        

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="{% url "changerequests_main" project_slug=view.project_slug activity_id=view.activity_id %}" aria-controls="profile" role="tab" data-toggle="tab">Aanvragen</a></li>
            <li role="presentation"><a href="{% url "changerequests_closed" project_slug=view.project_slug activity_id=view.activity_id %}">Afgesloten aanvragen</a></li>
            <li role="presentation"><a href="{% url "changerequests_removecode" project_slug=view.project_slug activity_id=view.activity_id %}">Locatiecode laten vervallen</a></li>
            <li role="presentation"><a href="{% url "changerequests_movelocation" project_slug=view.project_slug activity_id=view.activity_id %}">Locatiecode verplaatsen</a></li>
            <li role="presentation"><a href="{% url "changerequests_newlocation" project_slug=view.project_slug activity_id=view.activity_id %}">Nieuwe/vervangende locatiecode</a></li>
          </ul>



          <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="project">

            {% with openrequests=view.open_requests %}
            {% with closedrequests=view.recently_closed_requests %}
            {% if openrequests %}
              <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group btn-breadcrumb">
                            <a href="{% url "lizard_progress_activitiesView" view.project.slug %}" class="btn btn-default"><i class="fa fa-tasks"></i></a>
                            <a href="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=view.activity.id %}" class="btn btn-default">{{ view.activity|truncatechars:35 }}</a>
                            <a href="." class="btn btn-default"><i class="fa fa-question-circle"></i>&nbsp;Open aanvragen</a>
                        </div>    
                    </div>

                        <div class="panel-body">            
                        <table class="table progressbase">
                            <thead>
                             <tr>
                              <th></th>
                              <th>Datum</th>
                              <th>Werkzaamheid</th>
                              <th>Aanvraagtype</th>
                              <th>Locatie</th>
                              <th></th>
                             </tr>
                            </thead>
                            <tbody>
                                {% for request in openrequests %}
                                <tr data-url="{{ request.get_absolute_url }}">
                                    <td class="clickable">
                                        {% if not request.did_last_action %}
                                            <i class="icon icon-warning-sign"></i>
                                        {% endif %}
                                    </td>
                                    <td class="clickable">{{ request.creation_date|date:"d/m" }}</td>
                                    <td class="clickable">{{ request.activity }}</td>
                                    <td class="clickable">{{ request.type_description }}</td>
                                    <td class="clickable">
                                        {{ request.location_code }}
                                        {% if request.old_location_code %}
                                            (vervangt {{ request.old_location_code }})
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ request.get_absolute_url }}">bekijk details</a>
                                        |
                                        <a href="{% url "lizard_progress_mapview_change_request" project_slug=view.project_slug change_request=request.id %}">bekijk op kaart</a>
                                        | <a href="{% url "lizard_progress_newmap_change_request" project_slug=view.project_slug change_request=request.id %}">bekijk op nieuwe kaart</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- <h3 class="panel-title"><i class="fa fa-tasks"></i>&nbsp;<a href="../dashboard/">Werkzaamheden</a> > Open Aanvragen {{ view.activity }}</h3> -->
                        <div class="btn-group btn-breadcrumb">
                            <a href="{% url "lizard_progress_activitiesView" view.project.slug %}" class="btn btn-default"><i class="fa fa-tasks"></i></a>
                            <a href="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=view.activity.id %}" class="btn btn-default">{{ view.activity|truncatechars:35 }}</a>
                            <a href="." class="btn btn-default"><i class="fa fa-question-circle"></i>&nbsp;Open aanvragen</a>
                        </div>                        
                    </div>

                    <div class="panel-body">            
                    <p class='text-muted'>Geen open aanvragen</p>
                    </div>
                </div>
            {% endif %}


        
        {% endwith %}
        {% endwith %}
            </div>
        </div>                



    </div>
        <div class="col-md-1" role="complementary">
      <nav class="sidebar hidden-print">
        <ul class="nav sidenav">
          <li data-toggle="tooltip" data-placement="left" title="Dashboard">
            <a href="../../dashboard/"><i class="fa fa-lg fa-tachometer"></i></a>
          </li>   
          <li data-toggle="tooltip" data-placement="left" title="Werkzaamheden">
            <a 
                class="active" 
                href="../../activities/">
                <i class="fa fa-lg fa-tasks"></i>
            </a>
          </li>
          <li data-toggle="tooltip" data-placement="left" title="Bestanden">
            <a 
            {% if active == 'download' %}
                class="active" 
            {% endif %}
                href="../../download/">
                <i class="fa fa-lg fa-files-o"></i>
            </a>
          </li>    
          <li data-toggle="tooltip" data-placement="left" title="Configuratie">
            <a 
            {% if active == 'configuration' %}
                class="active" 
            {% endif %}
                href="../../config/">
                <i class="fa fa-lg fa-cogs"></i>
            </a>
          </li>
<!--          <li data-toggle="tooltip" data-placement="left" title="Aanvragen">
            <a 
            {% if active == 'aanvragen' %}
                class="active" 
            {% endif %}        
                href="#">
                <i class="fa fa-lg fa-question-circle"></i>
            </a>
          </li> -->
          <li data-toggle="tooltip" data-placement="left" title="Kaart">
            <a 
            {% if active == 'map' %}
                class="active" 
            {% endif %}        
                href="../../map/">
                <i class="fa fa-lg fa-globe"></i>
            </a>
            
          </li>
<!--          <li data-toggle="tooltip" data-placement="left" title="Exporteren">
            <a 
            {% if active == 'export' %}
                class="active" 
            {% endif %}        
                href="#">
                <i class="fa fa-lg fa-share"></i>
            </a>
          </li> -->
        </ul>
      </nav>
    </div>
</div>

{% endblock content %}
