{% extends "lizard_progress/activity_dashboard.html" %}

{% block contentpage %}
    <h2>Aanvragen {{ view.activity }}</h2>

    {% with openrequests=view.open_requests %}
    {% with closedrequests=view.recently_closed_requests %}
    {% if openrequests %}
        <h3>Open aanvragen</h3>
        <table class="table progressbase">
            <thead>
             <tr>
              <th></th>
              <th>Datum</th>
              <th>Werkzaamheid</th>
              <th>Aanvraagtype</th>
              <th>Locatie</th>
              <th></th>
             </tr>
            </thead>
            <tbody>
                {% for request in openrequests %}
                <tr data-url="{{ request.get_absolute_url }}">
                    <td class="clickable">
                        {% if not request.did_last_action %}
                            <i class="icon icon-warning-sign"></i>
                        {% endif %}
                    </td>
                    <td class="clickable">{{ request.creation_date|date:"d/m" }}</td>
                    <td class="clickable">{{ request.activity }}</td>
                    <td class="clickable">{{ request.type_description }}</td>
                    <td class="clickable">
                        {{ request.location_code }}
                        {% if request.old_location_code %}
                            (vervangt {{ request.old_location_code }})
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ request.get_absolute_url }}">bekijk details</a>
                        |
                        <a href="{% url "lizard_progress_mapview_change_request" project_slug=view.project_slug change_request=request.id %}">bekijk op kaart</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if closedrequests %}
        <h3>Recente afgesloten aanvragen</h3>
        <table class="table progressbase">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Datum</th>
                    <th>Organisatie</th>
                    <th>Werkzaamheid</th>
                    <th>Aanvraagtype</th>
                    <th>Locatie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for request in closedrequests %}
                <tr class="{% if request.is_accepted %}success{% endif %}{% if request.is_refused %}danger{% endif %}{% if request.is_invalid %}warning{% endif %}" data-url="{{ request.get_absolute_url }}">
                    {% comment %}
                        The tds are clickable here, and not the trs, because the last td should not be clickable. Otherwise clicking the 'X' button does both things.
                    {% endcomment %}
                    <td class="clickable">{{ request.status_description }}</td>
                    <td class="clickable">{{ request.creation_date|date:"d/m" }}</td>
                    <td class="clickable">{{ request.contractor.organization }}</td>
                    <td class="clickable">{{ request.mtype }}</td>
                    <td class="clickable">{{ request.type_description }}</td>
                    <td class="clickable">{{ request.location_code }}
                        {% if request.old_location_code %}
                            (vervangt {{ request.old_location_code }}
                        {% endif %}

                    </td>
                    <td>
                        <button class="close" type="button" title="Markeer als gezien" data-post-url="{{ request.get_absolute_url }}set_seen/" aria-hidden="true">&times;</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <p><a href="{% url "changerequests_closed" project_slug=view.project_slug activity_id=view.activity_id %}">Klik hier voor een overzicht van alle afgesloten aanvragen van dit project</a></p>
    {% endwith %}
    {% endwith %}

    <h3>Nieuwe aanvragen</h3>
    <button type="button" class="redirect btn btn-primary" data-redirect-url="{% url "changerequests_removecode" project_slug=view.project_slug activity_id=view.activity_id %}">Locatiecode laten vervallen</button>
    <button type="button" class="redirect btn btn-primary" data-redirect-url="{% url "changerequests_movelocation" project_slug=view.project_slug activity_id=view.activity_id %}">Locatiecode verplaatsen</button>
    <button type="button" class="redirect btn btn-primary" data-redirect-url="{% url "changerequests_newlocation" project_slug=view.project_slug activity_id=view.activity_id %}">Nieuwe of vervangende locatiecode</button>

{% endblock contentpage %}
