.pie-xs {
  width: 20px;
  height: 20px;
}
.pie-sm {
  width: 35px;
  height: 35px;
}
.pie-md {
  width: 75px;
  height: 75px;
}
.pie-lg {
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.pie000 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRUNGMEYxIiBkPSJ
    NMjguNjcxLDQuOTJDMjUuNjMxLDEuODgxLDIxLjQzMywwLDE2Ljc5NSwwUzcuOTU5LDEuODgxLD
    QuOTIsNC45MkMxLjg4LDcuOTU5LDAsMTIuMTU4LDAsMTYuNzk1CgljMCw0LjYzOSwxLjg4LDguO
    DM3LDQuOTIsMTEuODc3YzMuMDM5LDMuMDM5LDcuMjM3LDQuOTE5LDExLjg3NSw0LjkxOWM0LjYz
    OSwwLDguODM2LTEuODgsMTEuODc2LTQuOTE5CgljMy4wMzktMy4wNCw0LjkxOS03LjIzOCw0Ljk
    xOS0xMS44NzdDMzMuNTksMTIuMTU4LDMxLjcxLDcuOTU5LDI4LjY3MSw0LjkyeiBNMTYuNzk1LD
    IyLjgzNWMtMS42NjgsMC0zLjE3OC0wLjY3Ni00LjI3MS0xLjc2OQoJYy0xLjA5My0xLjA5My0xL
    jc2OS0yLjYwNC0xLjc2OS00LjI3MXMwLjY3Ni0zLjE3OCwxLjc2OS00LjI3MWMxLjA5NC0xLjA5
    MywyLjYwNC0xLjc2OSw0LjI3MS0xLjc2OXMzLjE3OCwwLjY3Niw0LjI3MSwxLjc2OQoJYzEuMDk
    zLDEuMDkzLDEuNzcsMi42MDMsMS43Nyw0LjI3MXMtMC42NzcsMy4xNzktMS43Nyw0LjI3MUMxOS
    45NzMsMjIuMTU5LDE4LjQ2MywyMi44MzUsMTYuNzk1LDIyLjgzNXoiLz4KPC9zdmc+
  ");
}
.pie012 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjMUFCQzlDIiBkPSJ
    NMjEuMDY2LDEyLjUyNGw3LjYwNC03LjYwNEMyNS42MzEsMS44ODEsMjEuNDMzLDAsMTYuNzk1LD
    B2MTAuNzU2CglDMTguNDYzLDEwLjc1NiwxOS45NzMsMTEuNDMyLDIxLjA2NiwxMi41MjR6Ii8+C
    jxwYXRoIGZpbGw9IiNFQ0YwRjEiIGQ9Ik0yOC42NzEsNC45MmwtNy42MDQsNy42MDRjMS4wOTMs
    MS4wOTMsMS43NjksMi42MDMsMS43NjksNC4yNzFzLTAuNjc2LDMuMTc5LTEuNzY5LDQuMjcxCgl
    jLTEuMDkzLDEuMDkzLTIuNjA0LDEuNzY5LTQuMjcxLDEuNzY5Yy0xLjY2OCwwLTMuMTc5LTAuNj
    c2LTQuMjcxLTEuNzY5Yy0xLjA5My0xLjA5My0xLjc2OS0yLjYwNC0xLjc2OS00LjI3MQoJczAuN
    jc2LTMuMTc4LDEuNzY5LTQuMjcxYzEuMDkzLTEuMDkzLDIuNjAzLTEuNzY5LDQuMjcxLTEuNzY5
    VjBDMTIuMTU3LDAsNy45NTgsMS44ODEsNC45MTksNC45MkMxLjg4LDcuOTU5LDAsMTIuMTU4LDA
    sMTYuNzk1CgljMCw0LjYzOSwxLjg4LDguODM3LDQuOTE5LDExLjg3N2MzLjAzOSwzLjAzOSw3Lj
    IzOCw0LjkxOSwxMS44NzYsNC45MTljNC42MzgsMCw4LjgzNi0xLjg4LDExLjg3NS00LjkxOQoJY
    zMuMDM5LTMuMDQsNC45MTktNy4yMzgsNC45MTktMTEuODc3QzMzLjU5LDEyLjE1OCwzMS43MSw3
    Ljk1OSwyOC42NzEsNC45MnoiLz4KPC9zdmc+
  ");
}
.pie025 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjMUFCQzlDIiBkPSJ
    NMjguNjcxLDQuOTJDMjUuNjMxLDEuODgxLDIxLjQzMywwLDE2Ljc5NSwwdjEwLjc1NmMxLjY2Ny
    wwLDMuMTc4LDAuNjc2LDQuMjcxLDEuNzY5CgljMS4wOTMsMS4wOTMsMS43NjksMi42MDMsMS43N
    jksNC4yNzFIMzMuNTlDMzMuNTksMTIuMTU4LDMxLjcxLDcuOTU5LDI4LjY3MSw0LjkyeiIvPgo8
    cGF0aCBmaWxsPSIjRUNGMEYxIiBkPSJNMjIuODM1LDE2Ljc5NWMwLDEuNjY4LTAuNjc2LDMuMTc
    5LTEuNzY5LDQuMjcxYy0xLjA5MywxLjA5My0yLjYwNCwxLjc2OS00LjI3MSwxLjc2OQoJYy0xLj
    Y2OCwwLTMuMTc5LTAuNjc2LTQuMjcxLTEuNzY5Yy0xLjA5My0xLjA5My0xLjc2OS0yLjYwNC0xL
    jc2OS00LjI3MXMwLjY3Ni0zLjE3OCwxLjc2OS00LjI3MQoJYzEuMDkzLTEuMDkzLDIuNjAzLTEu
    NzY5LDQuMjcxLTEuNzY5VjBDMTIuMTU3LDAsNy45NTgsMS44ODEsNC45MTksNC45MkMxLjg4LDc
    uOTU5LDAsMTIuMTU4LDAsMTYuNzk1CgljMCw0LjYzOSwxLjg4LDguODM3LDQuOTE5LDExLjg3N2
    MzLjAzOSwzLjAzOSw3LjIzOCw0LjkxOSwxMS44NzYsNC45MTljNC42MzgsMCw4LjgzNi0xLjg4L
    DExLjg3NS00LjkxOQoJYzMuMDM5LTMuMDQsNC45MTktNy4yMzgsNC45MTktMTEuODc3SDIyLjgz
    NXoiLz4KPC9zdmc+
  ");
}
.pie037 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjMUFCQzlDIiBkPSJ
    NMjguNjcxLDQuOTJDMjUuNjMxLDEuODgxLDIxLjQzMywwLDE2Ljc5NSwwdjEwLjc1NmMxLjY2OC
    wwLDMuMTc4LDAuNjc2LDQuMjcxLDEuNzY5CgljMS4wOTMsMS4wOTMsMS43NywyLjYwMywxLjc3L
    DQuMjcxcy0wLjY3NywzLjE3OS0xLjc3LDQuMjcxbDcuNjA0LDcuNjA1YzMuMDM5LTMuMDQsNC45
    MTktNy4yMzgsNC45MTktMTEuODc3CglDMzMuNTksMTIuMTU4LDMxLjcxLDcuOTU5LDI4LjY3MSw
    0LjkyeiIvPgo8cGF0aCBmaWxsPSIjRUNGMEYxIiBkPSJNMjEuMDY2LDIxLjA2NmMtMS4wOTQsMS
    4wOTMtMi42MDQsMS43NjktNC4yNzEsMS43NjlzLTMuMTc4LTAuNjc2LTQuMjcxLTEuNzY5CgljL
    TEuMDkzLTEuMDkzLTEuNzY5LTIuNjA0LTEuNzY5LTQuMjcxczAuNjc2LTMuMTc4LDEuNzY5LTQu
    MjcxYzEuMDk0LTEuMDkzLDIuNjA0LTEuNzY5LDQuMjcxLTEuNzY5VjAKCUMxMi4xNTcsMCw3Ljk
    1OCwxLjg4MSw0LjkxOSw0LjkyQzEuODgsNy45NTksMCwxMi4xNTgsMCwxNi43OTVjMCw0LjYzOS
    wxLjg4LDguODM3LDQuOTE5LDExLjg3NwoJYzMuMDM5LDMuMDM5LDcuMjM4LDQuOTE5LDExLjg3N
    Sw0LjkxOWM0LjYzOSwwLDguODM2LTEuODgsMTEuODc2LTQuOTE5TDIxLjA2NiwyMS4wNjZ6Ii8+
    Cjwvc3ZnPg==
  ");
}
.pie050 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRUNGMEYxIiBkPSJ
    NMTYuNzk1LDEwLjc1NlYwQzEyLjE1NywwLDcuOTU5LDEuODgxLDQuOTIsNC45MkMxLjg4LDcuOT
    U5LDAsMTIuMTU4LDAsMTYuNzk1CgljMCw0LjYzOSwxLjg4LDguODM3LDQuOTIsMTEuODc3YzMuM
    DM5LDMuMDM5LDcuMjM3LDQuOTE5LDExLjg3NSw0LjkxOVYyMi44MzVjLTEuNjY4LDAtMy4xNzgt
    MC42NzYtNC4yNzEtMS43NjkKCWMtMS4wOTMtMS4wOTMtMS43NjktMi42MDQtMS43NjktNC4yNzF
    zMC42NzYtMy4xNzgsMS43NjktNC4yNzFDMTMuNjE3LDExLjQzMiwxNS4xMjcsMTAuNzU2LDE2Lj
    c5NSwxMC43NTZ6Ii8+CjxwYXRoIGZpbGw9IiMxQUJDOUMiIGQ9Ik0yOC42NzEsNC45MkMyNS42M
    zEsMS44ODEsMjEuNDMzLDAsMTYuNzk1LDB2MTAuNzU2YzEuNjY4LDAsMy4xNzgsMC42NzYsNC4y
    NzEsMS43NjkKCWMxLjA5MywxLjA5MywxLjc3LDIuNjAzLDEuNzcsNC4yNzFzLTAuNjc3LDMuMTc
    5LTEuNzcsNC4yNzFjLTEuMDk0LDEuMDkzLTIuNjA0LDEuNzY5LTQuMjcxLDEuNzY5djEwLjc1Ng
    oJYzQuNjM5LDAsOC44MzYtMS44OCwxMS44NzYtNC45MTljMy4wMzktMy4wNCw0LjkxOS03LjIzO
    Cw0LjkxOS0xMS44NzdDMzMuNTksMTIuMTU4LDMxLjcxLDcuOTU5LDI4LjY3MSw0LjkyeiIvPgo8
    L3N2Zz4=
  ");
}
.pie062 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRUNGMEYxIiBkPSJ
    NNC45MTksNC45MkMxLjg4LDcuOTU5LDAsMTIuMTU4LDAsMTYuNzk1YzAsNC42MzksMS44OCw4Lj
    gzNyw0LjkxOSwxMS44NzdsNy42MDQtNy42MDUKCWMtMS4wOTMtMS4wOTMtMS43NjktMi42MDQtM
    S43NjktNC4yNzFzMC42NzYtMy4xNzgsMS43NjktNC4yNzFjMS4wOTMtMS4wOTMsMi42MDMtMS43
    NjksNC4yNzEtMS43NjlWMAoJQzEyLjE1NywwLDcuOTU4LDEuODgxLDQuOTE5LDQuOTJ6Ii8+Cjx
    wYXRoIGZpbGw9IiMxQUJDOUMiIGQ9Ik0yOC42NzEsNC45MkMyNS42MzEsMS44ODEsMjEuNDMzLD
    AsMTYuNzk1LDB2MTAuNzU2YzEuNjY3LDAsMy4xNzgsMC42NzYsNC4yNzEsMS43NjkKCWMxLjA5M
    ywxLjA5MywxLjc2OSwyLjYwMywxLjc2OSw0LjI3MXMtMC42NzYsMy4xNzktMS43NjksNC4yNzFj
    LTEuMDkzLDEuMDkzLTIuNjA0LDEuNzY5LTQuMjcxLDEuNzY5CgljLTEuNjY4LDAtMy4xNzktMC4
    2NzYtNC4yNzEtMS43NjlsLTcuNjA0LDcuNjA1YzMuMDM5LDMuMDM5LDcuMjM4LDQuOTE5LDExLj
    g3Niw0LjkxOWM0LjYzOCwwLDguODM2LTEuODgsMTEuODc1LTQuOTE5CgljMy4wMzktMy4wNCw0L
    jkxOS03LjIzOCw0LjkxOS0xMS44NzdDMzMuNTksMTIuMTU4LDMxLjcxLDcuOTU5LDI4LjY3MSw0
    LjkyeiIvPgo8L3N2Zz4=
  ");
}
.pie075 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRUNGMEYxIiBkPSJ
    NNC45MTksNC45MkMxLjg4LDcuOTU5LDAsMTIuMTU4LDAsMTYuNzk1aDEwLjc1NWMwLTEuNjY4LD
    AuNjc2LTMuMTc4LDEuNzY5LTQuMjcxCgljMS4wOTMtMS4wOTMsMi42MDMtMS43NjksNC4yNzEtM
    S43NjlWMEMxMi4xNTcsMCw3Ljk1OCwxLjg4MSw0LjkxOSw0LjkyeiIvPgo8cGF0aCBmaWxsPSIj
    MUFCQzlDIiBkPSJNMjguNjcxLDQuOTJDMjUuNjMxLDEuODgxLDIxLjQzMywwLDE2Ljc5NSwwdjE
    wLjc1NmMxLjY2NywwLDMuMTc4LDAuNjc2LDQuMjcxLDEuNzY5CgljMS4wOTMsMS4wOTMsMS43Nj
    ksMi42MDMsMS43NjksNC4yNzFzLTAuNjc2LDMuMTc5LTEuNzY5LDQuMjcxYy0xLjA5MywxLjA5M
    y0yLjYwNCwxLjc2OS00LjI3MSwxLjc2OQoJYy0xLjY2OCwwLTMuMTc5LTAuNjc2LTQuMjcxLTEu
    NzY5Yy0xLjA5My0xLjA5My0xLjc2OS0yLjYwNC0xLjc2OS00LjI3MUgwYzAsNC42MzksMS44OCw
    4LjgzNyw0LjkxOSwxMS44NzcKCWMzLjAzOSwzLjAzOSw3LjIzOCw0LjkxOSwxMS44NzYsNC45MT
    ljNC42MzgsMCw4LjgzNi0xLjg4LDExLjg3NS00LjkxOWMzLjAzOS0zLjA0LDQuOTE5LTcuMjM4L
    DQuOTE5LTExLjg3NwoJQzMzLjU5LDEyLjE1OCwzMS43MSw3Ljk1OSwyOC42NzEsNC45MnoiLz4K
    PC9zdmc+
  ");
}
.pie087 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRUNGMEYxIiBkPSJ
    NMTYuNzk1LDEwLjc1NlYwQzEyLjE1NywwLDcuOTU4LDEuODgxLDQuOTE5LDQuOTJsNy42MDQsNy
    42MDRDMTMuNjE3LDExLjQzMiwxNS4xMjcsMTAuNzU2LDE2Ljc5NSwxMC43NTZ6IgoJLz4KPHBhd
    GggZmlsbD0iIzFBQkM5QyIgZD0iTTI4LjY3MSw0LjkyQzI1LjYzMSwxLjg4MSwyMS40MzMsMCwx
    Ni43OTUsMHYxMC43NTZjMS42NjgsMCwzLjE3OCwwLjY3Niw0LjI3MSwxLjc2OQoJYzEuMDkzLDE
    uMDkzLDEuNzcsMi42MDMsMS43Nyw0LjI3MXMtMC42NzcsMy4xNzktMS43Nyw0LjI3MWMtMS4wOT
    QsMS4wOTMtMi42MDQsMS43NjktNC4yNzEsMS43NjlzLTMuMTc4LTAuNjc2LTQuMjcxLTEuNzY5C
    gljLTEuMDkzLTEuMDkzLTEuNzY5LTIuNjA0LTEuNzY5LTQuMjcxczAuNjc2LTMuMTc4LDEuNzY5
    LTQuMjcxTDQuOTE5LDQuOTJDMS44OCw3Ljk1OSwwLDEyLjE1OCwwLDE2Ljc5NQoJYzAsNC42Mzk
    sMS44OCw4LjgzNyw0LjkxOSwxMS44NzdjMy4wMzksMy4wMzksNy4yMzgsNC45MTksMTEuODc1LD
    QuOTE5YzQuNjM5LDAsOC44MzYtMS44OCwxMS44NzYtNC45MTkKCWMzLjAzOS0zLjA0LDQuOTE5L
    TcuMjM4LDQuOTE5LTExLjg3N0MzMy41OSwxMi4xNTgsMzEuNzEsNy45NTksMjguNjcxLDQuOTJ6
    Ii8+Cjwvc3ZnPg==
  ");
}
.pie100 {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF
    kb2JlIElsbHVzdHJhdG9yIDE0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb2
    46IDYuMDAgQnVpbGQgNDMzNjMpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vR
    FREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv
    c3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDo
    vL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOT
    k5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMy41
    OSAzMy41OTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjMUFCQzlDIiBkPSJ
    NMjguNjcxLDQuOTJDMjUuNjMxLDEuODgxLDIxLjQzMywwLDE2Ljc5NSwwUzcuOTU5LDEuODgxLD
    QuOTIsNC45MkMxLjg4LDcuOTU5LDAsMTIuMTU4LDAsMTYuNzk1CgljMCw0LjYzOSwxLjg4LDguO
    DM3LDQuOTIsMTEuODc3YzMuMDM5LDMuMDM5LDcuMjM3LDQuOTE5LDExLjg3NSw0LjkxOWM0LjYz
    OSwwLDguODM2LTEuODgsMTEuODc2LTQuOTE5CgljMy4wMzktMy4wNCw0LjkxOS03LjIzOCw0Ljk
    xOS0xMS44NzdDMzMuNTksMTIuMTU4LDMxLjcxLDcuOTU5LDI4LjY3MSw0LjkyeiBNMTYuNzk1LD
    IyLjgzNWMtMS42NjgsMC0zLjE3OC0wLjY3Ni00LjI3MS0xLjc2OQoJYy0xLjA5My0xLjA5My0xL
    jc2OS0yLjYwNC0xLjc2OS00LjI3MXMwLjY3Ni0zLjE3OCwxLjc2OS00LjI3MWMxLjA5NC0xLjA5
    MywyLjYwNC0xLjc2OSw0LjI3MS0xLjc2OXMzLjE3OCwwLjY3Niw0LjI3MSwxLjc2OQoJYzEuMDk
    zLDEuMDkzLDEuNzcsMi42MDMsMS43Nyw0LjI3MXMtMC42NzcsMy4xNzktMS43Nyw0LjI3MUMxOS
    45NzMsMjIuMTU5LDE4LjQ2MywyMi44MzUsMTYuNzk1LDIyLjgzNXoiLz4KPC9zdmc+
  ");
}
.pienan {
  background: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjw
    hLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy
    1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+Cgo8c3ZnCiAgIHhtbG5zO
    mRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIKICAgeG1sbnM6Y2M9Imh0dHA6
    Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIKICAgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9
    yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIgogICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudz
    Mub3JnLzIwMDAvc3ZnIgogICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgI
    HhtbG5zOnNvZGlwb2RpPSJodHRwOi8vc29kaXBvZGkuc291cmNlZm9yZ2UubmV0L0RURC9zb2Rp
    cG9kaS0wLmR0ZCIKICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25
    hbWVzcGFjZXMvaW5rc2NhcGUiCiAgIHZlcnNpb249IjEuMSIKICAgaWQ9IkxheWVyXzEiCiAgIH
    g9IjBweCIKICAgeT0iMHB4IgogICB3aWR0aD0iMTAwJSIKICAgaGVpZ2h0PSIxMDAlIgogICB2a
    WV3Qm94PSIwIDAgMzMuNTkgMzMuNTkiCiAgIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMz
    LjU5IDMzLjU5IgogICB4bWw6c3BhY2U9InByZXNlcnZlIgogICBpbmtzY2FwZTp2ZXJzaW9uPSI
    wLjkxIHIxMzcyNSIKICAgc29kaXBvZGk6ZG9jbmFtZT0icGllY2hhcnRzTkFOc21hbGwuc3ZnIj
    48bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGExMSI+PHJkZjpSREY+PGNjOldvcmsKICAgICAgI
    CAgcmRmOmFib3V0PSIiPjxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PjxkYzp0
    eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGU
    vU3RpbGxJbWFnZSIgLz48ZGM6dGl0bGU+PC9kYzp0aXRsZT48L2NjOldvcms+PC9yZGY6UkRGPj
    wvbWV0YWRhdGE+PGRlZnMKICAgICBpZD0iZGVmczkiIC8+PHNvZGlwb2RpOm5hbWVkdmlldwogI
    CAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBi
    b3JkZXJvcGFjaXR5PSIxIgogICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgICAgZ3JpZHRvbGV
    yYW5jZT0iMTAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwIgogICAgIGlua3NjYXBlOnBhZ2VvcG
    FjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6d2luZ
    G93LXdpZHRoPSIxOTIwIgogICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjEwNTYiCiAgICAg
    aWQ9Im5hbWVkdmlldzciCiAgICAgc2hvd2dyaWQ9ImZhbHNlIgogICAgIGlua3NjYXBlOnpvb20
    9IjI0LjQ3OTMwNiIKICAgICBpbmtzY2FwZTpjeD0iMzUuOTE2MDA2IgogICAgIGlua3NjYXBlOm
    N5PSIxNS4xNzEzODYiCiAgICAgaW5rc2NhcGU6d2luZG93LXg9IjAiCiAgICAgaW5rc2NhcGU6d
    2luZG93LXk9IjI0IgogICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjEiCiAgICAgaW5r
    c2NhcGU6Y3VycmVudC1sYXllcj0iTGF5ZXJfMSIgLz48cGF0aAogICAgIGZpbGw9IiNFQ0YwRjE
    iCiAgICAgZD0iTTI4LjcwOSw0LjkwNGMtMy4wNDQtMy4wNDItNy4yNDctNC45MjYtMTEuODkyLT
    QuOTI2Yy00LjY0NCwwLTguODQ3LDEuODg0LTExLjg5MSw0LjkyNiAgQzEuODgzLDcuOTQ3LDAsM
    TIuMTUyLDAsMTYuNzk0YzAsNC42NDYsMS44ODMsOC44NDksNC45MjYsMTEuODkzYzMuMDQzLDMu
    MDQzLDcuMjQ3LDQuOTI1LDExLjg5MSw0LjkyNSAgYzQuNjQ1LDAsOC44NDgtMS44ODEsMTEuODk
    yLTQuOTI1YzMuMDQzLTMuMDQ0LDQuOTI1LTcuMjQ3LDQuOTI1LTExLjg5M0MzMy42MzQsMTIuMT
    UyLDMxLjc1Miw3Ljk0NywyOC43MDksNC45MDR6IE0xNi44MTcsMjIuODQyICBjLTEuNjcsMC0zL
    jE4My0wLjY3Ny00LjI3Ni0xLjc3MWMtMS4wOTUtMS4wOTUtMS43NzEtMi42MDctMS43NzEtNC4y
    NzZzMC42NzYtMy4xODQsMS43NzEtNC4yNzYgIGMxLjA5NS0xLjA5NSwyLjYwNy0xLjc3MSw0LjI
    3Ni0xLjc3MXMzLjE4MiwwLjY3Nyw0LjI3NywxLjc3MWMxLjA5NCwxLjA5MywxLjc3MSwyLjYwNS
    wxLjc3MSw0LjI3NiAgYzAsMS42NjktMC42NzgsMy4xODMtMS43NzEsNC4yNzZDMTkuOTk5LDIyL
    jE2NywxOC40ODYsMjIuODQyLDE2LjgxNywyMi44NDJ6IgogICAgIGlkPSJwYXRoMyIgLz48cG9s
    eWdvbgogICAgIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgICAgIgogICAgIHBvaW50cz0iMjcuODI
    2LDEuNTM4IDE2LjgxNywxMi41NDcgNS44MDksMS41MzggMS41NiwxLjUzOCAxLjU2LDUuNzg1ID
    EyLjU3LDE2Ljc5NCAxLjU2LDI3LjgwNCAxLjU2LDMyLjA1MSA1LjgxMSwzMi4wNTEgMTYuODE3L
    DIxLjA0MyAyNy44MjQsMzIuMDUxIDMyLjA3MywzMi4wNTEgMzIuMDczLDI3LjgwNCAyMS4wNjQs
    MTYuNzk0IDMyLjA3Myw1Ljc4NiAzMi4wNzMsMS41MzggIgogICAgIGlkPSJwb2x5Z29uNSIKICA
    gICB0cmFuc2Zvcm09Im1hdHJpeCgwLjQ5NjIyNDczLDAsMCwwLjQ5NjIyNDczLDE2LjE1NzU4NC
    wwLjc3NDgwNjM3KSIKICAgICBzdHlsZT0ib3BhY2l0eTowLjU7ZmlsbDojZmYwMDAwIiAvPjwvc
    3ZnPg==
  ");
}