Een poging tot een overzicht van wat er allemaal gemaakt moet worden.

Ten eerste is er nog geen goede manier om de ge-uploade data ook weer
uit het systeem te krijgen.  Zijn we gewoon nooit aan toe gekomen. Is
natuurlijk essentieel.

Bij het laatste werk aan de upload server is functionaliteit gebouwd
voor het controleren van lab-resultaten en het aanroepen van een
"rekenkern" om te berekenen hoeveel er gebaggerd is. Hoe het precies
werkt weten we niet meer en er is geen documentatie over (waaraan moet
de "moedershape" voldoen bijvoorbeeld, hoe zit het met de koppelingen
tussen de verschillende IDs in de verschillende files).

De huidige upload server is HDSR-specifiek. Er is ooit een begin
gemaakt van een splitsing tussen een algemeen deel ("lizard-progress")
en een HDSR-specifiek deel, maar het algemene deel bleek slecht
gekozen en laatste project draaide uit op veel haastwerk. In het
bijzonder zijn de checks die gebeuren op MET files deels afkomstig uit
de MET-file standaard, en deels HDSR-specifiek. Dit moet opgeruimd
worden. Welke features gaan we algemeen aanbieden?

HDSR heeft FEWS en een Lizard site (de "hdsr-API"), waardoor het niet
veel werk was om ook een FEWS kaartlaag aan de Lizard interface toe te
voegen. Dit lijkt mij geen basisfunctionaliteit van de uploadserver.

Dan zijn er volgens mij drie getekende offertes die er nu liggen,
waarin we functionaliteit beloofd hebben:

N0200, voor HDSR:
- Projectomgeving realiseren (verbeteren?)
- Toevoegen voorbeeldbestanden bij een project
- Gebruikersbeheer
- Het automatisch koppelen van ingemeten gegevens aan bekende gegevens
  in FEWS
- Het tonen van een tijdreeks waarbij het datumbereik afhangt van de
  inmeting (moeilijk! beste is waarschijnlijk om de grafiek te gaan
  tonen in dezelfde popup als de inmeting)

N0178, Almere:
- Upload server opzetten binnen bestaande Lizard
- Export van MET files naar .dxf en .csv formaat
- Het mogelijk maken om profielen toe te kennen waarvan op voorhand
  geen locatie bekend is (dan is er dus geen voortgangsoverzicht
  mogelijk, en geen controle of de profielen op de juiste plek gemeten
  zijn, etc).
- Een handleiding en een toelichting intern bij de gemeente
- Alleen .met files, geen csv en foto's, lijkt het

N0195, Waternet:
- Een upload server
- Geen uitvoering berekeningen e.d.
- Uploaden van .met files en .pdf files
- Eisen aan .met files anders dan die van HDSR


Een paar opmerkingen:
- CSV files, foto's en berekeningen blijven voorlopig alleen voor HDSR, van die
  dingen is het het minst erg als we ze nog niet super algemeen maken
- Iedereen wil projecten kunnen aanmaken, documenten erbij zetten en
  .met files uploaden

