.sidebarbox li {
    cursor: pointer;
}

#sidebar a {
    color: black;
}

.sidebarbox-stretched .without-bullets {
    line-height: 2em;
}

div#messages {
    display: none;
}

.errorlist {
    color: red;
}

.helptext {
    font-style: italic;
}

.wizard-table {
    width: 95%;
}

.wizard-table th {
    width: 10%;
}

.wizard-table ul {
    list-style-type: none;
    margin: 0 0 0 -6px;
    padding: 0;
}

.wizard-table li {
    padding: 2px 0;
}

.tooltip, .legend-tooltip {
    cursor: auto;
}

.rounded-corners {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

p.admin {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}

div#contentpage {
    margin-left: 10px;
    margin-top: 10px;
    right: 0;
}

div#actions {
    background-color: #7FA9AE;
    height: 18px;
    border-bottom: solid 1px #7FA9AE;
    padding-bottom: 4.4px;
    padding-top: 4.4px;
}

div#actions a {
    margin-right: 10px;
    color: #000;
    font-weight: bold;
    font-size: 13px;
}

table#files_processed {
    max-width: 98%;
}

p.small {
    font-size: 80%;
    font-style: italic;
}