.sidebarbox li {
    cursor: pointer;
}

#sidebar a {
    color: #115E67;
}

#sidebar li.active a {
    color: #fafaf9;
}
div#actions li.active a {
    color: #fafaf9;
}
div#actions2 li.active a {
    color: #fafaf9;
}

.sidebarbox-stretched .without-bullets {
    line-height: 2em;
}

div#messages {
    display: none;
}

.errorlist {
    color: red;
}

.helptext {
    font-style: italic;
}

.wizard-table {
    width: 95%;
}

.wizard-table th {
    width: 10%;
}

.wizard-table ul {
    list-style-type: none;
    margin: 0 0 0 -6px;
    padding: 0;
}

.wizard-table li {
    padding: 2px 0;
}

.tooltip, .legend-tooltip {
    cursor: auto;
}

.rounded-corners {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

p.admin {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}

div#contentpage {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
}

div#actions {
    background-color: #7FA9AE;
    height: 18px;
    border-bottom: solid 1px #7FA9AE;
    padding-bottom: 15px;
    padding-top: 0;
}

div#actions2 {
    background-color: #F3F3F3;
    height: 18px;
    border-bottom: solid 1px #7FA9AE;
    padding-bottom: 15px;
    padding-top: 0;
}

#sidebar h2 {
    padding-top: 7px;
    padding-bottom: 8px;
}

div#actions a {
    margin-right: 10px;
    color: #000;
    font-weight: bold;
    font-size: 13px;
}

div#actions2 a {
    margin-right: 10px;
    color: #000;
    font-weight: bold;
    font-size: 13px;
}

table.progressbase {
    max-width: 100%;
}

table.fixed {
    table-layout: fixed;
    max-width: 600px;
}

div.archive {
    background-color: #728b9a !important;
}

td.filename {
    width: 500px;
}

td.download {
    width: 100px;
}

td.archive {
    text-align: right;
}

p.small {
    font-size: 80%;
    font-style: italic;
}

span.small {
    font-size: 80%;
    font-style: italic;
}

tr.clickable:hover {
    cursor: pointer;
    *cursor: hand;
}

td.clickable:hover {
    cursor: pointer;
    *cursor: hand;
}

.tree {
    min-height:20px;
    #padding: 1px;
    #margin-bottom:20px;
    background-color:#fbfbfb;
    border:0px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}

.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.dl-horizontal dt {
    white-space: normal;
}

div#warning {
    color: #fff;
    background-color: #157681;
    font-weight: bold;
    padding: 10px;
    border: solid black 1px;
    margin-bottom: 10px;
}