{% extends "lizard_progress/progressbase2.html" %}

{% block css %}{% endblock css %}
{% block javascript %}{% endblock javascript %}


{% block content %}

    {% include "lizard_progress/projectswitcher.html" %}


    <div class="container" id="project-details">

      
      <div class="row">

        <div class="col-md-11">        

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ view.activity.contractor }} / {{ view.activity.measurement_type }}
            </h3>
          </div>

          <div class="panel-body">

          <span class="pull-right" style="margin:0 0 5px 0;">
            {% if view.show_planning_menu %}
            <a href="./planning/">
            <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Planning werkzaamheid">
              <i class="fa fa-calendar"></i>
            </button>
            </a>
            {% endif %}
            {% if view.user_is_manager %}
            <a href="./config/">
            <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Instellingen werkzaamheid">
              <i class="fa fa-cog"></i>
            </button>
            </a> 
            {% endif %}
            {% if view.activity.measurement_type.has_only_point_locations %}
            <a href="./changerequests/">
            <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Aanvragen">
              <i class="fa fa-question-circle"></i>&nbsp;Aanvragen
            </button>
            </a>     
            {% endif %}
            {% if view.user_is_uploader %}
            <a href="./upload/">
            <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Uploaden">
              <i class="fa fa-cloud-upload"></i>&nbsp;Uploaden
            </button>
            </a>
            {% endif %}
          </span>          
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title" style="color:#777">Voortgang {{ view.activity.name }}</h4></div>
                <div class="panel-body pie-lg {{ view.activity.pie }}"></div>
              </div>
            </div>
            <dl style="float: left;">
              <dt>Opdrachtnemer:</dt>
              <dd>{{ view.activity.contractor }}</dd>
              <dt>Type meting:</dt>
              <dd>{{ view.activity.measurement_type }}</dd>
              {% if view.user_is_manager %}
                <dt>Planning:</dt>
                <dd><a href="{% url "lizard_progress_planningview" project_slug=view.project.slug activity_id=view.activity_id %}">inplannen</a></dd>
              {% endif %}
              <dt>Open aanvragen:</dt>
              <dd>{{ view.activity.open_requests.count }}</dd>
            </dl>

          </div>
        </div>
      </div>


        {% include "lizard_progress/sidebar_include.html" with active="activities" %}
      </div>
    </div>        
{% endblock %}



