{% extends "lizard_progress/progressbase.html" %}

{% block topbar %}
  {% if view.project %}
    <ul class="nav nav-pills">
      <li {% if view.active_menu == "dashboard" %}class="active"{% endif %}>
        <a title="Dashboard" href="{% url "lizard_progress_dashboardview" project_slug=view.project_slug %}">Dashboard</a>
      </li>
      {% if view.user_is_uploader %}
        <li {% if view.active_menu == "upload" %}class="active"{% endif %}>
          <a title="Upload files" href="{% url "lizard_progress_uploadhomeview" project_slug=view.project_slug activity_id=view.activity_id %}">Upload</a>
        </li>
      {% endif %}
      <li {% if view.active_menu == "requests" %}class="active"{% endif %}>
        <a title="Aanvragen" href="{% url "changerequests_main" project_slug=view.project_slug %}">Aanvragen{{ view.change_requests_menu_string }}</a>
      </li>
    </ul>
  {% else %}
    <p class="small">(Kies een project)</p>
  {% endif %}
{% endblock %}
