<p class="admin">Project starten:</p>
<ul class="without-bullets">
  <li><a href="{% url lizard_progress_newproject %}">Nieuw project aanmaken</a></li>
  <li><a href="{% url lizard_progress_newcontractor %}">Opdrachtnemer toekennen aan een project</a></li>
  <li><a href="{% url lizard_progress_newactivities %}">Werkzaamheden toewijzen aan een opdrachtnemer</a></li>
  <li><a href="{% url lizard_progress_newhydrovakken %}">Hydrovakken uploaden</a></li>
</ul>
<p class="admin">Project afsluiten:</p>
<ul class="without-bullets">
  <li><a href="{% url lizard_progress_results %}">Eindcontrole</a></li>
</ul>
