{% extends "lizard_map/wms.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_progress/lizard_progress.css"/>
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_progress/lizard_progress.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Admin</h2>
  {% include "lizard_progress/admin_tasks.html" %}
</div>
{% endblock sidebar %}

{% block content %}
{{ block.super }}
{% if messages %}
<div id="messages">
  {% for message in messages %}
  <p>{{ message|safe }}</p>
  {% endfor %}
</div>
{% endif %}
{% endblock content %}
