{% extends "lizard_progress/progressbase.html" %}

{% block contentpage %}
<h2>Archief</h2>


<div class="tree">
    <ul>
        <li>
	  {% for year, types in view.archive_tree %}
            <span><i class="icon-calendar"></i>{{ year }}</span>
            <ul>
	      {% for projecttype, projects in types %}
    	        <li style="display: none;">
                  <span class="badge badge-success"><i class="icon-minus-sign"></i>{{ projecttype }}</span>
                  <ul>
		    {% for project in projects %}
                      <li style="display: none;">
	                <a href="{% url "lizard_progress_dashboardview" project.slug %}"><span>{{ project }}</a>
                      </li>
		    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
	  {% endfor %}
        </li>
    </ul>
</div>
{% endblock contentpage %}
