{% extends "lizard_progress/progressbase2.html" %}


{% block extra_js %}
<script src="{{ STATIC_URL }}lizard_progress/odometer.min.js"></script>
<link rel="stylesheet"
  href="{{ STATIC_URL }}lizard_progress/odometer.minimal.css" />      

<script>
var el1 = document.querySelector('.total-activities');
od1 = new Odometer({
  el: el1,
  value: 0,
  format: '',
  theme: 'minimal'
});
od1.update({{ view.project.number_of_locations }});

var el2 = document.querySelector('.complete-locations');
od2 = new Odometer({
  el: el2,
  value: 0,
  format: '',
  theme: 'minimal'
});
od2.update({{ view.project.number_of_complete_locations }});

var el3 = document.querySelector('.open-requests');
od3 = new Odometer({
  el: el3,
  value: 0,
  format: '',
  theme: 'minimal'
});
od3.update({{ view.num_open_requests }});
</script>
{% endblock extra_js %}



{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}

    <div class="container" id="project-details">
      
      <div class="row">
        <div class="col-md-9">

          
            <div class="col-md-12 details-tabs">
              <div>
                  <div class="row">
                    <div class="col-md-12 well" style="background-color:#D9EDF7;border:1px solid #D9EDF7;font-size:1.25em;">
                      <div class="col-md-4 text-center">
                        <span class="total-activities"></span>&nbsp;<span class="text-muted">geplande meting{{ view.project.number_of_locations|pluralize:"en" }}</span>
                      </div>
                      <div class="col-md-4 text-center">
                        <span class="complete-locations"></span>&nbsp;<span class="text-muted">ingevoerde meting{{ view.project.number_of_complete_locations|pluralize:"en" }}</span>
                      </div>
                      <div class="col-md-4 text-center">
                        <span class="open-requests"></span>&nbsp;<span class="text-muted">open aanvr{{ view.num_open_requests|pluralize:"aag,agen" }}</span>
                      </div>
                    </div>
                    {% if view.user_is_manager %}
                      <div class="row">
                        <div class="col-md-12">
                          <a href="{% url "lizard_progress_edit_activities" project_slug=view.project_slug %}">
                            <button type="button" style="margin:0 0 15px 0;" class="btn btn-primary btn-sm pull-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Werkzaamheden toevoegen / verwijderen">
                              <i class="fa fa-cog"></i>&nbsp;Beheer werkzaamheden
                            </button>
                          </a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="row">
                    {% for activity, numrequests in view.activity_requests %}
                      <div class="col-md-3">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=activity.id %}">                            
                              <h4 class="panel-title" style="color:#777">Voortgang {{ activity.name }}</h4>
                            </a>
                            {% if numrequests > 0 %}
                            <div class="request-warning request-container" data-toggle="tooltip" data-placement="left" title="" data-original-title="Open aanvragen">
                              <div class="project-request-number request-sm">
                                {{ numrequests }}
                              </div>
                              <a href="../{{ activity.id }}/changerequests/"><i class="fa fa-exclamation-triangle exclamation-sm"></i></a>
                            </div>
                          {% endif %}
                        </div>
                        <div class="panel-body">                        
                          <div class="progress" style="background-color: #7C7C7C !important">
                              {% with a_perc_done=activity.percentage_done %}
			      <div class="progress-bar" role="progressbar" aria-valuenow="{{a_perc_done}}"
				   aria-valuemin="0" aria-valuemax="100" style="width: {{ a_perc_done }}%;">
                              {{ a_perc_done }}%
                              </div>
			      {% endwith %}
                          </div>                          
                        </div>


<!--                             {% if numrequests > 0 %}
                              <div class="request-warning request-container">
                                <div class="project-request-number request-lg">
                                  {{ numrequests }}
                                </div>
                                <a href="../{{ activity.id }}/changerequests/">
                                  <i class="fa fa-exclamation-triangle exclamation-lg"></i>
                                </a>
                              </div>
                            {% endif %}
                            <a href="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=activity.id %}">
                              <div class="panel-body pie-lg {{ activity.pie }}"></div>
                            </a> -->
                        </div>
                      </div>
                    {% endfor %}
                  </div>
              </div>

            </div>


        </div>

        {% include "lizard_progress/sidebar_include.html" with active="dashboard" %}
      
      </div>
    </div>



{% endblock content %}





























{% block contentpage %}

<table class="table">
  <tr><td>
<h2>Werkzaamheden {{ view.project.name }} {% if view.project.is_archived %} (Gearchiveerd) {% endif %}<h2>
  </td>
  <td class="archive">
{% if view.user_is_manager %}
    {% if not view.project.is_archived %}
        <button id="bt-archive"
		name="archive"
  		type="button"
  		value="{% url "lizard_progress_archive" project_slug=view.project.slug %}?action=archive"
  		class="btn btn-primary" title="Archiveren">
         <i class="icon-large icon-briefcase"></i> Archiveren
       </button>
    {% else %}
        <button id="bt-archive"
		name="activate"
  		type="button"
  		value="{% url "lizard_progress_archive" project_slug=view.project.slug %}?action=activate"
  		class="btn btn-primary" title="Activeren">
          <i class="icon-large icon-briefcase"></i> Activeren
       </button>
    {% endif %}
{% endif %}
  </td>
</tr>
</table>
<table class="table table-bordered table-hover progressbase archived-dashboard">
<thead>
  <th>Uitvoerder</th>
  <th>Werkzaamheid</th>
  <th>Geplande metingen</th>
  <th>Ingevoerde metingen</th>
  <th>Laatste upload</th>
</thead>
{% for activity in view.activities %}
<tr class="clickable" data-url="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=activity.id %}">
  <td>{{ activity.contractor }}</td>
  <td>{{ activity.measurement_type }}</td>
  <td>{{ activity.num_locations }}</td>
  <td>{{ activity.num_measurements }}</td>
  <td>
    {% with activity.latest_log as latest %}
      {% if latest %}
        {{ latest.when }}
      {% endif %}
    {% endwith %}
  </td>
</tr>
{% endfor %}
</table>

{% for activity in view.activities %}
  <img width="500" height="300" src="{% url "lizard_progress_dashboardgraphview" project_slug=view.project.slug activity_id=activity.id %}" title="Voortgang {{ activity }}"/>
{% endfor %}

{% if view.user_is_manager %}
  <p>
    <a href="{% url "lizard_progress_edit_activities" project_slug=view.project_slug %}">Opdrachtnemers of werkzaamheden toevoegen / verwijderen</a>
  </p>
{% endif %}

{% endblock contentpage %}
