{% extends "lizard_progress/progressbase2.html" %}


{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}


    <div class="container" id="project-details">
      
      <div class="row">
        <div class="col-md-9">

          
            <div class="col-md-12 details-tabs">
              <div>
                  <div class="row">
                    <div class="row quickbar well">
                      <div class="col-md-3 text-center">
                        {{ view.total_activities }} <span class="text-muted">geplande meting{{ view.total_activities|pluralize:"en" }}</span>
                      </div>
                      <div class="col-md-3 text-center">
                        345 <span class="text-muted">ingevoerde metingen</span>
                      </div>
                      <div class="col-md-3 text-center">
                        3 <span class="text-muted">uploaders</span>
                      </div>
                        {% if view.user_is_manager %}
                          <div class="col-md-3 text-center">
                            {{ view.num_open_requests }} <span class="text-muted">open aanvr{{ view.num_open_requests|pluralize:"aag,agen" }}</span>
                          </div>
                        {% endif %}
                  </div>
                    </div class="row">
                        {% for activity, numrequests in view.activity_requests %}
                        <a href="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=activity.id %}">
                          <div class="col-md-3">
                            <div class="panel panel-default">
                              <div class="panel-heading"><h4 class="panel-title" style="color:#777">Voortgang {{ activity.name }}</h4></div>
                              <div class="panel-body pie-lg {{ activity.pie }}">
                                 {% if numrequests > 0 %}
                                  <div class="request-warning request-container"><div class="project-request-number request-lg">{{ numrequests }}</div><a href="../{{ activity.id }}/changerequests/"><i class="fa fa-exclamation-triangle exclamation-lg"></i></a></div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </a>
                        {% endfor %}
                  </div>


            </div>


        </div>

        {% include "lizard_progress/sidebar_include.html" with active="dashboard" %}
      
      </div>
    </div>



{% endblock content %}





























{% block contentpage %}

<table class="table">
  <tr><td>
<h2>Werkzaamheden {{ view.project.name }} {% if view.project.is_archived %} (Gearchiveerd) {% endif %}<h2>
  </td>
  <td class="archive">
{% if view.user_is_manager %}
    {% if not view.project.is_archived %}
        <button id="bt-archive"
		name="archive"
  		type="button"
  		value="{% url "lizard_progress_archive" project_slug=view.project.slug %}?action=archive"
  		class="btn btn-primary" title="Archiveren">
         <i class="icon-large icon-briefcase"></i> Archiveren
       </button>
    {% else %}
        <button id="bt-archive"
		name="activate"
  		type="button"
  		value="{% url "lizard_progress_archive" project_slug=view.project.slug %}?action=activate"
  		class="btn btn-primary" title="Activeren">
          <i class="icon-large icon-briefcase"></i> Activeren
       </button>
    {% endif %}
{% endif %}
  </td>
</tr>
</table>
<table class="table table-bordered table-hover progressbase archived-dashboard">
<thead>
  <th>Uitvoerder</th>
  <th>Werkzaamheid</th>
  <th>Geplande metingen</th>
  <th>Ingevoerde metingen</th>
  <th>Laatste upload</th>
</thead>
{% for activity in view.activities %}
<tr class="clickable" data-url="{% url "lizard_progress_activity_dashboard" project_slug=view.project_slug activity_id=activity.id %}">
  <td>{{ activity.contractor }}</td>
  <td>{{ activity.measurement_type }}</td>
  <td>{{ activity.num_locations }}</td>
  <td>{{ activity.num_measurements }}</td>
  <td>
    {% with activity.latest_log as latest %}
      {% if latest %}
        {{ latest.when }}
      {% endif %}
    {% endwith %}
  </td>
</tr>
{% endfor %}
</table>

{% for activity in view.activities %}
  <img width="500" height="300" src="{% url "lizard_progress_dashboardgraphview" project_slug=view.project.slug activity_id=activity.id %}" title="Voortgang {{ activity }}"/>
{% endfor %}

{% if view.user_is_manager %}
  <p>
    <a href="{% url "lizard_progress_edit_activities" project_slug=view.project_slug %}">Opdrachtnemers of werkzaamheden toevoegen / verwijderen</a>
  </p>
{% endif %}

{% endblock contentpage %}
