{% extends "lizard_progress/progressbase2.html" %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}lizard_progress/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />
{% endblock css %}

{% block javascript %}
{{block.super}}
<script type="text/javascript" src="{{ STATIC_URL }}lizard_progress/upload_page.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lizard_progress/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.html5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.flash.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.html4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<script>
$('a.delete-file').on('click', function(e) {
  e.preventDefault();
  swal({
    title: "Weet u het zeker?",
    text: "U staat op het punt om dit document te verwijderen.",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Ja, verwijder dit document.",
    closeOnConfirm: false
  }, function() {
      $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
      });
      $.ajax({
        url: $(this).attr("href"),
        type: 'DELETE',
        success: function () {
            location.reload(true);
        }
      });
  });
});
</script>
{% endblock javascript %}

{% block content %}

<div class="container" id="project-slug">
  <div class="row">
  <div class="col-md-12">
    <div class="title">
      <span class="org"><a href="/">{{ view.organization|lower }}</a> / </span><span class="project"><a href=".">instellingen</a></span>
    </div>
    </div>
  </div>
</div>


<div class="container" id="project-details">
    <div class="row">
      <div class="col-md-2">
        <div class="list-group settings-menu">
          <a href="/us/admin/organization/errorconfiguration/" class="list-group-item">Algemeen</a>
          {% if view.user_is_manager %}<a href="/us/users/" class="list-group-item">Gebruikersbeheer</a>{% endif %}
          <a href="/us/projects/documents/download/" class="list-group-item active">Documentenbeheer</a>
          <a href="{% url "lizard_progress_editvisibility" %}" class="list-group-item">Zichtbaarheid Metingtypes</a>
          <!-- <a href="#" class="list-group-item">Inpeiling</a>
          <a href="#" class="list-group-item">Uitpeiling</a> -->
        </div>
      </div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-o"></i>&nbsp;Documentenbeheer voor '{{ view.organization }}'</h3>
          </div>
          
          <div class="panel-body">

            {% if view.user_is_manager %}
            <div id="upload-wrapper" data-upload-dialog-url="/us/upload/">
              <button type="button" class="upload btn btn-primary" data-upload-url="{% url "lizard_progress_upload_orgfile" %}"><i class="fa fa-upload"></i>&nbsp;Organisatiedocumenten uploaden</button>
            </div>
            {% endif %}

            {% if view.files and view.files.organization %}
            <h3>Documenten {{ view.organization }}</h3>
            <p>Deze documenten worden gekopi&euml;erd naar elk nieuw aangemaakt project.</p>

            <table class="table table-bordered fixed">
              <thead>
                <th>Filename</th>
                <th style="width: 6em;">Download</th>
                {% if view.user_is_manager %}
                <th style="width: 6em;">Delete</th>
                {% endif %}
              </thead>
              {% for file in view.files.organization %}
              <tr>
                <td class="filename">{{ file.filename }} ({{ file.size }})</td>
                <td class="download">
                  <a href="{{ file.url }}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Downloaden"><button type="button" class="btn btn-primary"><i class="fa fa-download"></i></button></a>
                </td>
                {% if view.user_is_manager %}
                <td>
                  <a href="{{ file.url }}" class="delete-file" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Verwijderen"><button type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button></a>                
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
