{% extends "lizard_progress/progressbase.html" %}

{% block contentpage %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Download</h2>
  {% if view.reports or view.results %}
  <ul class="without-bullets">
    {% for report in view.reports %}
    <li><a href="{{ report.url }}" title="{{ report.contractor }}">{{ report.name }}</a></li>
    {% endfor %}
    {% for report in view.results %}
    <li><a href="{{ report.url }}" title="{{ report.contractor }}">{{ report.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock contentpage %}
