{% extends "lizard_progress/progressbase.html" %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />
{% endblock css %}

{% block javascript %}
{{block.super}}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.html5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.flash.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/plupload.html4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plupload/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
{% endblock javascript %}

{% block contentpage %}

{% if view.user_is_manager %}
<div id="upload-wrapper" data-upload-dialog-url="{{ view.upload_dialog_url }}">
  <button type="button" class="upload btn btn-primary" data-upload-url="{% url lizard_progress_upload_orgfile %}"><i class="icon-upload"></i> Organisatiedocumenten uploaden</button>
  <button type="button" class="upload btn btn-primary" data-upload-url="{% url lizard_progress_upload_hydrovakken %}"><i class="icon-upload"></i> Hydrovakken uploaden</button>
</div>
{% endif %}

{% if view.files.organization %}
<h3>Documenten {{ view.project.organization }}</h3>
<table class="table table-bordered fixed">
  <thead>
    <th>Filename</th>
    <th>Download</th>
  </thead>
  {% for file in view.files.organization %}
  <tr>
    <td class="filename">{{ file.filename }} ({{ file.size }})</td>
    <td class="download"><a href="{{ file.url }}">download</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if view.files.location_shapefile or view.files.hydrovakken %}
<h3>Shapefiles</h3>

  <table class="table table-bordered fixed">
  <thead>
    <th>Omschrijving</th>
    <th>Downloads (3 files zijn samen een shape)</th>
  </thead>
  {% for file in view.files.location_shapefile %}
  <tr>
    <td class="filename">{{ file.description }}</td>
    <td class="download">
      <a href="{{ file.urls.shp }}">.shp</a>,
      <a href="{{ file.urls.dbf }}">.dbf</a>,
      <a href="{{ file.urls.shx }}">.shx</a>
    </td>
  </tr>
  {% endfor %}
  {% for file in view.files.hydrovakken %}
  <tr>
    <td class="filename">{{ file.description }}</td>
    <td class="download">
      <a href="{{ file.urls.shp }}">.shp</a>,
      <a href="{{ file.urls.dbf }}">.dbf</a>,
      <a href="{{ file.urls.shx }}">.shx</a>
    </td>
  </tr>
  {% endfor %}
  </table>
{% endif %}

{% if view.exports or view.csv %}
<h3>Resultaten</h3>

{% if view.exports %}
<table class="table table-bordered progressbase">
  <thead>
    <th>Opdrachtnemer</th>
    <th>Soort meting</th>
    <th>Soort file</th>
    <th>Gegenereerd</th>
    <th>Up to date</th>
    <th>Bestand</th>
    <th>Start</th>
  </thead>
{% for export_run in view.exports %}
  <tr {% if not export_run.present and export_run.export_running %}class="please-reload-me"{% endif %}>
    <td>{{ export_run.contractor.organization }}</td>
    <td>{{ export_run.measurement_type }}</td>
    <td>
      {% if export_run.exporttype == "allfiles" %}ZIP bestand
      {% elif export_run.exporttype == "met" %}MET bestand
      {% elif export_run.exporttype == "dxf" %}Zipped DXF
      {% elif export_run.exporttype == "csv" %}Zipped CSV
      {% elif export_run.exporttype == "lizard" %}Export naar Lizard
      {% else %}Onbekend{% endif%}
    </td>
    <td id="present-{{ export_run.id }}">
      {% if export_run.available %}{{ export_run.created_at }}{% elif export_run.export_running %}
        <img src="{{ STATIC_URL }}lizard_ui/ajax-loader3.gif">
      {% endif %}
    </td>
    <td id="uptodate-{{ export_run.id }}">
      {% if export_run.available %}{% if export_run.up_to_date %}Ja{% else %}Nee{% endif %}{% endif %}
    </td>
    <td id="download-{{ export_run.id }}">
      {% if export_run.present %}
        <a href="{% url lizard_progress_download_export_run_view project_slug=export_run.project.slug export_run_id=export_run.id %}{{ export_run.filename }}">download</a>
      {% endif %}
    </td>
    <td>
      <button type="button"
              autocomplete="off" {# So it doesn't stay disabled after reloading in Firefox #}
              {% if export_run.export_running %}disabled="disabled"{% endif %}
              data-export-run-url="{% url lizard_progress_start_export_run_view project_slug=export_run.project.slug export_run_id=export_run.id %}"
              data-loader-gif="{{ STATIC_URL }}lizard_ui/ajax-loader3.gif"
              data-export-run-id="{{ export_run.id }}"
              class="export-run-button btn btn-primary">
        Genereer
      </button>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% if view.csv %}
  <table class="table table-bordered" style="max-width: 600px;">
  <thead>
    <th>Opdrachtnemer</th>
    <th>CSV bestand</th>
  </thead>
{% for contractor, url in view.csv %}
  <tr>
    <td class="filename">{{ contractor.organization.name }}</td>
    <td class="download"><a href="{{ url }}">CSV file voortgang</a></td>
  </tr>
{% endfor %}
  </table>
{% endif %}
{% endif %}

{% if view.files.reports or view.files.contractor_hydrovakken %}
<h3>Rapportages</h3>

  <table class="table table-bordered fixed">
  <thead>
    <th>Filenaam</th>
    <th>Download</th>
  </thead>
  {% for file in view.files.reports %}
  <tr>
    <td class="filename">{{ file.filename }} ({{ file.size }})</td>
    <td class="download"><a href="{{ file.url }}">download</a></td>
  </tr>
  {% endfor %}
  {% for file in view.files.contractor_hydrovakken %}
  <tr>
    <td class="filename">{{ file.filename }} ({{ file.size }})</td>
    <td class="download"><a href="{{ file.url }}">download</a></td>
  </tr>
  {% endfor %}
  </table>
{% endif %}

{% if view.files.results %}
<h3>Berekende resultaten</h3>

  <table class="table table-bordered fixed">
  <thead>
    <th>Filenaam</th>
    <th>Download</th>
  </thead>
  {% for file in view.files.results %}
  <tr>
    <td class="filename">{{ file.filename }} ({{ file.size }})</td>
    <td class="download"><a href="{{ file.url }}">download</a></td>
  </tr>
  {% endfor %}
  </table>
{% endif %}



{% endblock contentpage %}
