{% extends "lizard_progress/progressbase2.html" %}

{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}    


    <div class="container" id="project-details">
      
      <div class="row">
        <div class="col-md-11">
      <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i>&nbsp;Huidige werkzaamheden</h3>
              </div>

          <div class="panel-body">

          {% with activities=view.current_activities %}
            {% if activities %}
              <table class="table">
                <thead>
                  <th>Omschrijving</th>
                  <th>Opdrachtnemer</th>
                  <th>Werkzaamheid</th>
                  <th>Verwijderen</th>
                </thead>

                <tbody>
                  {% for activity in view.current_activities %}
                    <tr>
                      <td>{{ activity.name }}</td>
                      <td>{{ activity.contractor }}</td>
                      <td>{{ activity.measurement_type }}</td>
                      <td>
                        {% if activity.has_measurements %}Heeft metingen{% else %}
                          <form method="post"
                                action="{% url "lizard_progress_delete_activity" project_slug=view.project.slug activity_id=activity.id %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary"
                                   name="submit" value="Verwijderen">
                          </form>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>Nog geen werkzaamheden toegevoegd aan project.</p>
            {% endif %}
          {% endwith %}
            </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i>&nbsp;Werkzaamheid toevoegen</h3>
              </div>

          <div class="panel-body">

          <form method="post" action="{{ view.url }}">
            {% csrf_token %}
            {{ view.form.non_field_errors }}
            {{ view.form.as_p }}
            <p><input type="submit" class="btn btn-primary" name="submit" value="+ Toevoegen"></p>
          </form>
          </div>
        </div>

 





        

  </div>

      {% include "lizard_progress/sidebar_include.html" with active="activities" %}
      </div>
    </div>        
          
{% endblock content %}
