{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_progress/lizard_progress.css" />
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_progress/lizard_progress.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
<div id="iconbox" class="sidebarbox sidebarbox-stretched iconlist">
  <h2>{{ view.project.name }}</h2>
  <ul>

    <li>
      <a rel="tipsy" title="Upload files" href="{{ view.upload_home_url }}">
        <img src="/static_media/lizard_ui/app_icons/upload.png">
        <div>Upload</div>
      </a>
    </li>

    <li>
      <a rel="tipsy" title="Dashboard" href="{{ view.dashboard_url }}">
        <img src="/static_media/lizard_ui/app_icons/statusoverzicht.png">
        <div>Dashboard</div>
      </a>
    </li>

    <li>
      <a rel="tipsy" title="Kaartlagen" href="{{ view.map_url }}">
        <img src="/static_media/lizard_ui/app_icons/kaartlagen.png">
        <div>Kaartlagen</div>
      </a>
    </li>

{% if view.has_full_access %}
    <li>
      <a rel="tipsy" title="Vergelijking" href="{{ view.comparison_url }}">
        <img src="/static_media/lizard_ui/app_icons/modelresultaten.png">
        <div>Vergelijking</div>
      </a>
    </li>
{% endif %}

  </ul>
</div>

{% if view.workspace_edit.workspace_items.all or view.collage_edit.collage_items.all %}
{% workspace_edit view.workspace_edit %}
{% collage_edit view.collage_edit %}
{% endif %}

{% endblock sidebar %}
