<h2>{{ activity }}</h2>

{% if location.location_type == "pipe" %}
   <h3>Streng {{ location.location_code }}</h3>
{% elif location.location_type == "manhole" %}
   <h3>Put {{ location.location_code }}</h3>
{% elif location.location_type == "drain" %}
   <h3>Kolk {{ location.location_code }}</h3>
{% else %}
   <h3>Code: {{ location.location_code }}</h3>
{% endif %}

<p>
  {% if location.not_part_of_project %}
    <strong>Dit object is geen eigendom van {{ location.activity.project.organization }} en hoort niet bj de werkzaamheden.</strong>
  {% else %}
    Opdrachtnemer: {{ activity.contractor }}<br />
    Werkzaamheid: {{ activity.measurement_type }}
  {% endif %}
</p>

<p>Er is voor deze locatie nog geen data aanwezig in het systeem.</p>

{% if location.planned_date and not location.not_part_of_project %}
  <p>De geplande datum voor deze locatie is {{ location.planned_date|date:"DATE_FORMAT" }}.</p>
{% endif %}
