<div id="actions" class="sidebar-inner">
      <a title="Upload files" href="{{ view.upload_home_url }}">Upload</a>
      <a title="Download files" href="{{ view.download_home_url }}">Download</a>
      <a title="Dashboard" href="{{ view.dashboard_url }}">Dashboard</a>
      <a title="Kaartlagen in Lizard" href="{{ view.map_url }}">Kaartlagen in Lizard</a>
      <a title="Admin" href="{{ view.admin_url }}">Admin</a>
</div>

<!--div id="upload-wrapper" data-upload-dialog-url="{{ view.upload_dialog_url }}">
    <button type="button" class="" data-upload-url="">
      <i class=""></i>Download
    </button>
    <button type="button" class="" data-upload-url="">
      <i class=""></i>Dashboard
    </button>
    <button type="button" class="" data-upload-url="">
      <i class=""></i>Kaartlagen
    </button>
    <button type="button" class="" data-upload-url="">
      <i class=""></i>Admin
    </button>
    <button type="button" class="" data-upload-url="">
      <i class=""></i>Vergelijk
    </button>
</div-->
