{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_progress/lizard_progress.css" />
<style>
#sidebar {
	top: 0 !important;
}
#rightbar {
	top: 0 !important;
}
#content {
	top: 0 !important;
}
#edit-workspace > ul {
	display: none !important;
}
.secondary-sidebar-button {
	display: none !important;	
}
</style>
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_progress/lizard_progress.js"></script>
{% endblock map-javascript %}

{% block header %}{% endblock header %}

{% block sidebar %}
  {# Put workspace things back in the sidebar, boo Lizard 4 #}
  {% workspace_edit view.workspace_edit %}
  {# The Uploadservice doesn't have a collage. #}
{% endblock sidebar %}

{# We don't want a secondary sidebar #}
{% block secondary-sidebar %}
{% endblock secondary-sidebar %}

{# So we don't need sidebar actions either #}


{% block rightbar %}
  {% include "lizard_progress/map_legend.html" %}
{% endblock rightbar %}
