{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_progress/lizard_progress.css" />
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_progress/lizard_progress.js"></script>
{% endblock map-javascript %}

{% block sidebar %}
  {# Put workspace things back in the sidebar, boo Lizard 4 #}
  {% workspace_edit view.workspace_edit %}
  {# The Uploadserver doesn't have a collage. #}
{% endblock sidebar %}

{# We don't want a secondary sidebar #}
{% block secondary-sidebar %}
{% endblock secondary-sidebar %}

{# So we don't need sidebar actions either #}
{% block sidebar-actions %}
{% endblock sidebar-actions %}
