{% extends "lizard_progress/progressbase2.html" %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>
{% endblock css %}

{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}    
    <div class="container" id="project-details">
      <div class="row">
        <div class="col-md-11">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left" style="padding-top: 7.5px;"><i class="fa fa-globe"></i>&nbsp;Kaart {{ view.project.name }}</h3>

              <div class="btn-group pull-right" data-toggle="tooltip" data-placement="left" title="Bekijk grote kaart">
                <a href="../mapinline/">
                  <button class="btn btn-sm btn-default">
                    <i class="fa fa-expand"></i>
                  </button>
                </a>
              </div>

              </div>

                <div id="map_new" style="height: 800px"></div>
              <!-- <div class="panel-body" style="padding:0 !important;"> -->
                <!-- <iframe width="100%" height="800" src="{% url "lizard_progress_mapview" project_slug=view.project_slug %}"></iframe> -->
                <!-- </div> -->

                <!-- TODO: vendorize -->
                <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
                  integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
                  crossorigin="">
                </script>

                <script>
                    const extent = {{ view.extent|safe }};
                    console.log(extent)
                    //var mymap = L.map('map_new').setView([52.083, 5.117], 13);
                    const mymap = L.map('map_new');
                    const bounds = [
                        [extent.top, extent.left],
                        [extent.bottom, extent.right]
                    ];
                    mymap.fitBounds(bounds);
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                          maxZoom: 22
                      }).addTo(mymap);
                </script>
        </div>
        </div>
        {% include "lizard_progress/sidebar_include.html" with active="map_new" %}
      </div>
    </div>
{% endblock %}
