{% extends "lizard_progress/progressbase.html" %}

{% block topbar %}
{% endblock %}

{% block contentpage %}

  <div id="contentpage">
    <h2>Configuratie {{ view.organization }}</h2>

    <p>Dit zijn de default waarden voor het Configuratie scherm van
    een project. Deze waarden worden alleen gebruikt bij
    het <i>aanmaken</i> van een project, als het project eenmaal
    aangemaakt is kunnen de waarden van dat project aangepast worden
    op het Configuratie scherm van dat project.</p>

    {% with option_blocks=view.config_option_blocks %}

      {# Repeat this twice so that the generic options come first #}
      {% for option_block in option_blocks.items %}
        {% if option_block.0.0 == "" %}
          {% with mtype_slug="" mtype_name="Algemeen" options=option_block.1 %}
            {% include "lizard_progress/organization_config_block.html" %}
          {% endwith %}
        {% endif %}
      {% endfor %}

      {% for option_block in option_blocks.items %}
        {% if option_block.0.0 != "" %}
          {% with mtype_slug=option_block.0.0 mtype_name=option_block.0.1 options=option_block.1 %}
            {% include "lizard_progress/organization_config_block.html" %}
          {% endwith %}
        {% endif %}
      {% endfor %}
{% endwith %}

  </div>
{% endblock contentpage %}
