<h3>{{ mtype_name }}</h3>
    <form method="post"
          action="{% url "lizard_progress_admin_organization_errorconfiguration" %}">
      <table class="table table-bordered progressbase">
        <thead>
          <th>Optie</th>
          <th>Type</th>
          <th>Waarde</th>
        </thead>
        {% for option, current_value in options %}
          <tr>
            <td>{{ option.short_description }}<br /><span class="small">{{ option.long_description }}</span></td>
            <td>{% if option.type == "float" %}Decimaal getal{% elif option.type == "int" %}Geheel getal{% elif option.type == "boolean" %}Ja / Nee{% else %}Tekst{% endif %}</td>
            <td>
              {% if option.type == "boolean" %}
                <input type="checkbox" name="{{ option.option }}" {% if current_value %}checked="checked"{% endif %}>
              {% else %}
                <input type="text" name="{{ option.option }}" value="{{ current_value }}">
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
      <input type="hidden" name="mtype_slug" value="{{ mtype_slug }}">
      <input type="submit" value="Opslaan" class="btn btn-medium btn-primary">
      {% csrf_token %}
    </form>
