{% extends "lizard_ui/lizardbase.html" %}

{% block title %}
{% if view.title %}
{# Managed properly by the view #}
{{ view.title }}
{% else %}
{# By hand in the template #}
{% block subtitle %}{% endblock subtitle%}
{% block sitetitle %}Upload Server{% endblock sitetitle%}
{% endif %}
{% endblock %}
{% block sidebar-title %}
Navigation
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
    href="{{ STATIC_URL }}lizard_progress/lizard_progress.css" />
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}lizard_progress/lizard_progress.js"></script>
{% endblock javascript %}
{% block site-actions %}
  {{ block.super }}
  {{ view.currentproject }}
{% endblock site-actions %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
{% if view.user_is_manager %}
  <h2>Beheer</h2>
  <ul class="without-bullets">
  <li>
    <a href="{% url lizard_progress_admin %}">Beheer projecten</a>
  </li>
  </ul>
{% endif %}
  <h2>Projecten</h2>
  <ul class="nav nav-pills nav-stacked">
  {% for project in view.projects %}
    <li {% if project == view.project %}class="active"{% endif %}>
      {% if view.user_is_uploader %}
        <a href="{% url lizard_progress_dashboardview project.slug %}">{{ project }} ({{ project.organization.name }})</a>
      {% else %}
	<a href="{% url lizard_progress_dashboardview project.slug %}">{{ project }}</a>
      {% endif %}
    </li>
  {% empty %}
  <p class="small">(Er zijn nog geen projecten)</p>
  {% endfor %}
  </ul>
</div>
{% endblock sidebar %}

{% block content %}
<div id="actions" class="sidebar-inner">
{% if view.project %}
<ul class="nav nav-pills">
<li {% if view.active_menu == "dashboard" %}class="active"{% endif %}><a title="Dashboard" href="{% url lizard_progress_dashboardview project_slug=view.project_slug %}">Dashboard</a></li>
{% if view.user_is_uploader %}
<li {% if view.active_menu == "upload" %}class="active"{% endif %}><a title="Upload files" href="{% url lizard_progress_uploadhomeview project_slug=view.project_slug %}">Upload</a></li>
{% endif %}
<li {% if view.active_menu == "download" %}class="active"{% endif %}><a title="Download files" href="{% url lizard_progress_downloadhomeview project_slug=view.project_slug %}">Download</a></li>
<li><a title="Kaartlagen" href="{% url lizard_progress_mapview project_slug=view.project_slug %}">Kaartlagen</a></li>
{% if view.user_is_manager %}
<li {% if view.active_menu == "config" %}class="active"{% endif %}><a title="Configuratie" href="{% url lizard_progress_project_configuration_view project_slug=view.project_slug %}">Configuratie</a></li>
</ul>
{% endif %}
{% else %}
<p class="small">(Kies een project)</p>
{% endif %}
</div>

<div id="contentpage">
{% block contentpage %}
{% endblock contentpage %}
</div>

{% if messages %}
<div id="messages" class="messages">
  {% for message in messages %}
  <p>{{ message|safe }}</p>
  {% endfor %}
</div>
{% endif %}
{% endblock content %}
