{% extends "lizard_ui/lizardbase.html" %}

{% block title %}
{% if view.title %}
{# Managed properly by the view #}
{{ view.title }}
{% else %}
{# By hand in the template #}
{% block subtitle %}{% endblock subtitle%}
{% block sitetitle %}Upload Server{% endblock sitetitle%}
{% endif %}
{% endblock %}
{% block sidebar-title %}
Navigation
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
    href="{{ STATIC_URL }}lizard_progress/lizard_progress.css" />
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}lizard_progress/lizard_progress.js"></script>
{% endblock javascript %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
{% if view.user_has_manager_role or view.user_has_usermanager_role %}
  <h2>Beheer</h2>
  <ul class="without-bullets">
{% if view.user_has_manager_role %}
  <li><a href="{% url "lizard_progress_newproject" %}"><i class="icon-plus-sign"></i> Project toevoegen</a></li>
  <li><a href="{% url "lizard_progress_admin_organization_errorconfiguration" %}"><i class="icon-pencil"></i> Configuratie defaults</a></li>
  <li><a href="{% url "lizard_progress_archive_overview" %}"><i class="icon-briefcase"></i> Archief</a></li>
  <li><a href="{% url "lizard_progress_documents_download" %}"><i class="icon-file"></i> Documentenbeheer</a></li>
{% endif %}
{% if view.user_has_usermanager_role %}
  <li><a href="{% url "lizard_progress_user_management" %}"><i class="icon-user"></i> Gebruikersbeheer</a></li>
{% endif %}
  </ul>
{% endif %}

  {% if view.project %}
    <h2>Werkzaamheden {{view.project}}</h2>
    <ul class="nav nav-list nav-stacked">
      <li {% if view.active_menu == "dashboard" %}class="active"{% endif %}>
        <a href="{% url "lizard_progress_dashboardview" view.project.slug %}">Project Dashboard</a>
      </li>
      {% for activity in view.activities %}
        <li {% if activity == view.activity %}class="active"{% endif %}>
          <a href="{% url "lizard_progress_activity_dashboard" activity_id=activity.id project_slug=view.project.slug %}">{{ activity }}</a>
        </li>
      {% endfor %}
    </ul>

    <br>
  {% endif %}

  <h2>Projecten</h2>
  <ul class="nav nav-list nav-stacked">
  {% for project in view.projects %}
    <li {% if project == view.project %}class="active"{% endif %}>
        <a href="{% url "lizard_progress_dashboardview" project.slug %}">{{ project }} ({{ project.organization.name }})</a>
    </li>
  {% empty %}
  <p class="small">(Er zijn nog geen projecten)</p>
  {% endfor %}
  </ul>
</div>
{% endblock sidebar %}

{% block content %}
  <div id="actions" class="sidebar-inner">
    {% block topbar %}
      {% if view.project %}
        <ul class="nav nav-pills">
          <li {% if view.active_menu == "dashboard" %}class="active"{% endif %}>
            <a title="Project Dashboard" href="{% url "lizard_progress_dashboardview" project_slug=view.project_slug %}">Project Dashboard</a>
          </li>
          <li {% if view.active_menu == "download" %}class="active"{% endif %}>
            <a title="Download files" href="{% url "lizard_progress_downloadhomeview" project_slug=view.project_slug %}">Download</a>
          </li>
          {% if view.user_is_manager %}
            <li {% if view.active_menu == "config" %}class="active"{% endif %}>
              <a title="Configuratie" href="{% url "lizard_progress_project_configuration_view" project_slug=view.project_slug %}">Configuratie</a>
            </li>
          {% endif %}
          <li>
            <a title="Kaartlagen" href="{% url "lizard_progress_mapview" project_slug=view.project_slug %}">Kaartlagen</a>
          </li>
        </ul>
      {% else %}
        <p class="small">(Kies een project)</p>
      {% endif %}
    {% endblock %}
  </div>
  {% block extrabar %}{% endblock extrabar %}
  <div id="contentpage" {% if view.project and view.project.is_archived %}class="archive"{% endif %}>
    {% block contentpage %}
    {% endblock contentpage %}
  </div>

  {% if messages %}
    <div id="messages" class="messages">
      {% for message in messages %}
        <p>{{ message|safe }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
