{% extends "lizard_ui/lizardbase.html" %}

{% block title %}
{% if view.title %}
{# Managed properly by the view #}
{{ view.title }}
{% else %}
{# By hand in the template #}
{% block subtitle %}{% endblock subtitle%}
{% block sitetitle %}Upload Server{% endblock sitetitle%}
{% endif %}
{% endblock %}
{% block sidebar-title %}
Navigation
{% endblock %}

{% block site-actions %} 
  {{ block.super }}
  {{ view.currentproject }}
{% endblock site-actions %}

{% block breadcrumbs %}
&rarr; <a href="{% url lizard_progress_projecten %}" title="Home">Home</a>
{% endblock breadcrumbs %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Projecten</h2>
  <ul class="without-bullets">
  {% for project in view.projects %}
    <li>
      {% if view.user_is_uploader %}
        <a href="{% url lizard_progress_uploadhomeview project.slug %}">{{ project }}</a>
      {% else %}
	<a href="{% url lizard_progress_dashboardview project.slug %}">{{ project }}</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock sidebar %}

{% block content %}
{{ project_slug }}
{% if view.currentproject %}
  {% if view.user_is_uploader %}
    {% include "lizard_progress/contractor_actions.html" %}
  {% else %}
    {% include "lizard_progress/manager_actions.html" %}
  {% endif %}
{% else %}
<h1>Kies een project.</h1>
{% endif %}

{% block contentpage %}
{% endblock contentpage %}

{% endblock content %}
