{% extends "lizard_progress/progressbase.html" %}

{% block contentpage %}
<h2>Laatste uploads</h2>
<table class="table table-bordered table-hover progressbase">
<thead>
  <th><i rel="tooltip" title="Aanvragen" class="icon icon-warning-sign"></i></th>
  <th>Project</th>
  <th>Laatste upload</th>
  <th>Soort</th>
  <th>Door</th>
  <th>Aantal</th>
  <th>Totaal nu</th>
  <th>%</th>
</thead>
{% for project in view.projects %}
<tr class="clickable" data-url="{% url lizard_progress_dashboardview project.slug %}">
  <td>
    {% with numrequests=project.num_open_requests %}
      {% if numrequests > 0 %}
        <b>{{ numrequests }}</b>
      {% endif %}
    {% endwith %}
 </td>
  <td>{{ project.name }}</td>
  {% with log=project.latest_log %}
    {% if log %}
      <td>{{ log.when }}</td>
      <td>{{ log.mtype }}</td>
      <td>{{ log.uploading_organization }}</td>
      <td>{{ log.num_measurements }}</td>
      <td>{{ project.number_of_complete_scheduled_measurements }}</td>
      <td>{{ project.percentage_done }}</td>
    {% else %}
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    {% endif %}
  {% endwith %}
</tr>
{% endfor %}
</table>

{% endblock contentpage %}
