{% extends "lizard_progress/progressbase2.html" %}

{% block extra_js %}
<script>
$(document).on('ready', function() {
  $('input.form-control').first().focus();
});
$('.reactivate').on('click', function(e) {
  e.preventDefault();
  var redirectUrl = $(e.target).parent().attr('href');
  swal({
    title: "Weet u het zeker?",
    text: "U staat op het punt om dit project opnieuw te activeren. U kunt het later weer archiveren.",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Ja, activeer dit project",
    closeOnConfirm: false
  }, function() {
    window.location.href = redirectUrl;
  });
});
$('.archive').on('click', function(e) {
  e.preventDefault();
  var redirectUrl = $(e.target).parent().attr('href');
  swal({
    title: "Weet u het zeker?",
    text: "U staat op het punt om dit project te archiveren. U kunt het later weer heractiveren.",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Ja, archiveer dit project",
    closeOnConfirm: false
  }, function() {
    window.location.href = redirectUrl;
  });
});
 </script>
{% endblock extra_js %}

{% block content %}

    {% include "lizard_progress/projectswitcher.html" %}    


    <div class="container" id="project-details">
      
      <div class="row">
        <div class="col-md-11">

          <div class="row">
            <div class="col-md-12 details-tabs">

            <div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#">Projectinstellingen</a></li>
                <li role="presentation"><a href="{% url "lizard_progress_upload_hydrovakken" project_slug=view.project.slug %}">Monstervakken toevoegen</a></li>
                <li role="presentation"><a href="../email_config/">E-mailconfiguratie</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade in active" id="project">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-cog"></i>&nbsp;Projectinstellingen</h3>
                    </div>
                    <div class="panel-body">

                        <form method="post" action="{% url "lizard_progress_project_configuration_view" project_slug=view.project_slug %}">

                                    {% for option, current_value in view.config_options %}
                                    <div class="form-group">
                                      <label for="{{ option.option }}">{{ option.short_description }}</label><p class="small "><i>{{option.long_description}}</i></p>
                                        {% if option.type == "boolean" %}
                                            <input type="checkbox" class="form-control" id="{{ option.option }}" name="{{ option.option }}" {% if current_value %}checked="checked"{% endif %}>
                                        {% else %}
                                            <input type="text" class="form-control" id="{{ option.option }}" name="{{ option.option }}" value="{{ current_value }}">
                                        {% endif %}                                      
                                    </div>
                                    {% endfor %}                                    


                            <input type="submit" value="Opslaan" class="btn btn-medium btn-primary" data-toggle="tooltip" data-placement="right" title="" data-original-title="Instellingen opslaan">
                            {% csrf_token %}
                        </form>


                    </div>
                  </div>
                  {% if view.user_is_manager %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-cog"></i>&nbsp;Project archiveren / activeren</h3>
                    </div>
                    <div class="panel-body">
                      <form>
                        <div class="form-group">
                          {% if view.project.is_archived %}
                            <a class="reactivate" href="{% url "lizard_progress_archive" project_slug=view.project.slug %}?action=activate">
                              <button class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="" data-original-title="Het project her-activeren">
                                <i class="fa fa-lg fa-briefcase"></i>&nbsp;&nbsp;Activeren
                              </button>
                            </a>                        
                          {% else %}
                            <a class="archive" href="{% url "lizard_progress_archive" project_slug=view.project.slug %}?action=archive">
                              <button class="btn btn-warning" type="submit" data-toggle="tooltip" data-placement="right" title="" data-original-title="Het project sluiten en archiveren">
                                <i class="fa fa-lg fa-briefcase"></i>&nbsp;&nbsp;Archiveren
                              </button>
                            </a>
                          {% endif %}
                        </div>
                      </form>
                    </div>
                  </div>
                  {% endif %}

                </div>

                <div role="tabpanel" class="tab-pane fade in" id="home">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Projectdocumenten (pdf, doc, xls)</h3>
                    </div>
                    <div class="panel-body">
                      <form>
                        <div class="form-group">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="exampleInputFile">Bestand</label>
                              <input type="file" id="exampleInputFile">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Hydrovakken (ESRI Shapefile, zipped)</h3>
                    </div>
                    <div class="panel-body">
                      <form>
                        <div class="form-group">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label for="exampleInputFile">Bestand</label>
                              <input type="file" id="exampleInputFile">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="email">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">E-mailconfiguratie</h3>
                    </div>
                    <div class="panel-body alert alert-info">
                      <p>Hier stel je voor dit project de e-mail notificaties in. Aangevinkt betekent e-mail versturen.</p>
                    </div>
                    <div class="panel-body">
                      <form>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Aanvraag goedgekeurd
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Aanvraag afgekeurd
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Aanvraag ingediend
                          </label>
                          </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Aanvraag commentaar toegevoegd
                          </label>
                          </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Project voltooid
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Werkzaamheid voltooid
                          </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            </div>
          </div>
        
        </div>

      {% include "lizard_progress/sidebar_include.html" with active="configuration" %}

      </div>
    </div>        
{% endblock %}
