{% extends "lizard_progress/progressbase2.html" %}

{% block content %}
  <div class="container">
    ReviewProject
    {{ view.review_id }}
    <br/>


    <h1> {{ view.reviewproject.name }} </h1>

    <br/>
    <a href="">
      <button type="button" class="btn btn-primary btn-md pull-right" style="padding:9px;margin-right:15px">
        Upload reviews
      </button>
    </a>

    <a href="">
      <button type="button" class="btn btn-primary btn-md pull-right" style="padding:9px;margin-right:15px">
        Apply review-filter
      </button>
    </a>
  </div>
{% endblock content %}
