{% extends "lizard_progress/progressbase2.html" %}

{% block content %}
  <div class="container">
    ReviewProject
    {{ view.review_id }}
    <br/>


    <h1> {{ view.reviewproject.name }} </h1>
    <h3> Voortgang: {{ view.reviewproject.calc_progress }}% </h3>
    <progress value={{ view.reviewproject.calc_progress }}  max="100"></progress>

    <a href="download_shapefile">
      <button type="button" class="btn btn-primary btn-md pull-right"
              {% if not view.reviewproject.shape_files %}
                disabled title="No shapefiles available"
              {% endif %}
              style="padding:9px;margin-right:15px">
        Download shapefiles
      </button>
    </a>

    <a href="download">
      <button type="button" class="btn btn-primary btn-md pull-right" style="padding:9px;margin-right:15px">
        Download reviews
      </button>
    </a>

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p class="text-warning">{{ view.form.non_field_errors }}</p>
      {{ form }}
      {% for field in view.upload_reviews_form %}
        <div class="col-sm-12">
         {{ field.label }} : {{ field }}<span class="text-warning">{{ field.errors }}</span>
        </div>
      {% endfor %}
      <input type="submit" class="btn btn-primary" name="Upload reviews" value="Upload reviews">
    </form>

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p class="text-warning">{{ view.form.non_field_errors }}</p>
      {{ form }}
      {% for field in view.upload_shapefiles_form %}
        <div class="col-sm-12">
         {{ field.label }} : {{ field }}<span class="text-warning">{{ field.errors }}</span>
        </div>
      {% endfor %}
      <input type="submit" class="btn btn-primary" name="Upload shapefiles" value="Upload shapefiles">
    </form>

   {% include "lizard_progress/reviewproject_map.html" %}

  </div>



{% endblock content %}
