{% extends "lizard_progress/progressbase2.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="organisation" class="col-md-12">
        <div class="organisation-title">
          <p class="hidden-xs">{{ view.organization }}<p>
          <!-- <p class="hidden-sm hidden-md hidden-lg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{view.organization}}">{{ view.organization|truncatechars:10 }}<p> -->
        </div>
      </div>
    </div>
    <a href={% url 'lizard_progress_new_reviewproject' %}>
      <button type="button" class="btn btn-primary btn-md pull-right" style="padding:9px;margin-right:15px">
        + Review-project toevoegen
      </button>
    </a>
  </div>

  <div class="container" id="reviewprojects">
    <h2> Overview of ReviewProjects: </h2>
    <br/>
      <ul>
      {% for review in view.all_review_projects %}
        <li>
          <div class="row" style="padding:15px;">
            <div class="col-sm">
              {% if view.user_is_manager %}
                <form action="" method="post" enctype="multipart/form-data"
                      onsubmit="return confirm('Do you really want to remove {{ review.name }}?');">
                  {% csrf_token %}
                  <input type="hidden" name="review_project_id" value={{ review.id }}>
                  <input type="submit" value="Remove" name="delete reviewproject"
                         class="btn btn-primary btn-md pull-right"
                         style="padding:5px;margin-right:15px">
                </form>

                <form action="" method="post" enctype="multipart/form-data"
                      onsubmit="return confirm('Do you really want rename {{ review.name }}?');" >
                  {% csrf_token %}
                  <div class="pull-right">
                    <input type="hidden" name="review_project_id" value={{ review.id }}>
                    {{ view.name_form.name }}
                    <input type="submit" value="Change name"
                           name="change reviewproject name"
                           class="btn btn-primary btn-md pull-right"
                           style="padding:5px;margin-right:25px">
                  </div>

                </form>
              {% endif %}
              <a href="{{ review.id }}">{{ review.name }}</a>
              {{ review.progress }}%
            </div>
          </div>
        </li>

      {% endfor %}
    </ul>
  </div>

{% endblock %}
