{%  block style %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>

  <style>
    #mapid {
      padding: 20px;
      margin: auto;
      height: 700px;
      width: 90%;
    }
  </style>

{% endblock %}
{% block content %}

    <div id="mapid"></div>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
       integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
       crossorigin=""></script>

    <script>
      {% with coord_map_view=view.reviewproject.get_coord_reviewproject %}
        var map_view_x = {{ coord_map_view.0 }};
        var map_view_y = {{ coord_map_view.1 }};
        var mymap = L.map('mapid').setView([map_view_y, map_view_x], 13);
      {% endwith %}

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);


      function styler(feature) {
        if (feature.properties.completion === 100) {
            return {color: "green", fillColor: 'green'};
        } else if(feature.properties.completion === 0) {
            return {color: "red", fillColor: 'red' };
        } else {
          return {color: "orange", fillColor: 'orange'};
        }
      };

      var geojsonCircleOptions = {
          radius: 8,
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
      };

      function pointToLayer (feature, latlng) {
        return L.circleMarker(latlng, geojsonCircleOptions);
      }

      const geojsonLayerOptions = {
        'pointToLayer': pointToLayer,
        'style': styler
      }

      {% if view.reviewproject.feature_collection_geojson %}
      var geojsonLayer = L.geoJSON([], geojsonLayerOptions).addTo(mymap);
      geojsonLayer.addData({{ view.reviewproject.feature_collection_geojson|safe }});
      {% endif %}
    </script>

{% endblock content %}
