{% comment "Note" %}
This template is intended to be included by some other templates, and expects a keyword 'active' to be supplied.

 - dashboard.html supplies with='dashboard'
 - activities.html supplies with='activities'
 - download.html supplies with='download'
 - project_configuration_page.html supplies with='configuration'
 - map.html supplies with='map'

Dashboard will show in 3 columns width, while the others will have a 1 column width and will include tooltips.
{% endcomment %}



{% if active == 'dashboard' %}
	<div class="col-md-3" role="complementary">
	  <nav class="sidebar hidden-print">
	    <ul class="nav sidenav">
	      <li>
	        <a href="{% url "lizard_progress_dashboardview" view.project.slug %}" class="active"><i class="fa fa-lg fa-tachometer"></i> &nbsp; dashboard</a>
	      </li>
	      <li>
	        <a href="{% url "lizard_progress_activitiesView" view.project.slug %}"><i class="fa fa-lg fa-tasks"></i> &nbsp; werkzaamheden <span class="badge">{{ view.total_activities }}x</span></a>
	      </li>
	      <li>
	        <a href="{% url "lizard_progress_downloadhomeview" view.project.slug %}"><i class="fa fa-lg fa-files-o"></i> &nbsp; bestanden</a>
	      </li>	
        {% if not view.user_is_viewer %}
        <!-- TODO: make view unavailable via url -->
        <li>
          <a href="{% url "lizard_progress_project_configuration_view" view.project.slug %}"><i class="fa fa-lg fa-cogs"></i> &nbsp; configuratie</a>
        </li>
        {% endif %}
<!-- 	      <li>
	        <a href="#"><i class="fa fa-lg fa-question-circle"></i> &nbsp; aanvragen <span class="badge">4x</span></a>
	      </li> -->
	      <li>
	        <a href="{% url "lizard_progress_inlinemapview" view.project.slug %}"><i class="fa fa-lg fa-globe"></i> &nbsp; kaart</a>
	      </li>
	      <li>
	        <a href="{% url "lizard_progress_inlinemapview_new" view.project.slug %}"><i class="fa fa-lg fa-globe"></i> &nbsp; kaart (nieuw)</a>
	      </li>
<!-- 	      <li>
	        <a href="#"><i class="fa fa-lg fa-share"></i> &nbsp; exporteren</a>
	      </li> -->
	    </ul>
	  </nav>
	</div>  
{% else %}
	<div class="col-md-1" role="complementary">
	  <nav class="sidebar hidden-print">
	    <ul class="nav sidenav">
	      <li data-toggle="tooltip" data-placement="left" title="Dashboard">
	        <a href="{% url "lizard_progress_dashboardview" view.project.slug %}"><i class="fa fa-lg fa-tachometer"></i><span class="hidden-md hidden-lg">&nbsp;Dashboard</span></a>
	      </li>   
	      <li data-toggle="tooltip" data-placement="left" title="Werkzaamheden">
	        <a 
	        {% if active == 'activities' %}
	        	class="active" 
	        {% endif %}
	        	href="{% url "lizard_progress_activitiesView" view.project.slug %}">
	        	<i class="fa fa-lg fa-tasks"></i><span class="hidden-md hidden-lg">&nbsp;Werkzaamheden</span>
	        </a>
	      </li>
	      <li data-toggle="tooltip" data-placement="left" title="Bestanden">
	        <a 
	        {% if active == 'download' %}
	        	class="active" 
	        {% endif %}
	        	href="{% url "lizard_progress_downloadhomeview" view.project.slug %}">
	        	<i class="fa fa-lg fa-files-o"></i><span class="hidden-md hidden-lg">&nbsp;Bestanden</span>
	        </a>
	      </li>	
        {% if not view.user_is_viewer %}
        <li data-toggle="tooltip" data-placement="left" title="Configuratie">
          <a 
          {% if active == 'configuration' %}
            class="active" 
          {% endif %}
            href="{% url "lizard_progress_project_configuration_view" view.project.slug %}">
            <i class="fa fa-lg fa-cogs"></i><span class="hidden-md hidden-lg">&nbsp;Configuratie</span>
          </a>
        </li>
        {% endif %}

        <li data-toggle="tooltip" data-placement="left" title="Kaart">
          <a
          {% if active == 'map' %}
          class="active"
          {% endif %}
          href="{% url "lizard_progress_inlinemapview" view.project.slug %}">
            <i class="fa fa-lg fa-globe"></i><span class="hidden-md hidden-lg">&nbsp;Kaart</span>
          </a>
        </li>

        <li data-toggle="tooltip" data-placement="left" title="Kaart (nieuw)">
          <a
          {% if active == 'map_new' %}
          class="active"
          {% endif %}
          href="{% url "lizard_progress_inlinemapview_new" view.project.slug %}">
            <i class="fa fa-lg fa-globe"></i><span class="hidden-md hidden-lg">&nbsp;Kaart</span>
          </a>
        </li>

	    </ul>
	  </nav>
	</div>
{% endif %}
