
<div id="uploader">
  <p>Your browser doesn't have HTML5 support.</p>
</div>

<script type="text/javascript">
// Convert div to queue widget when the DOM is ready
$(function () {
    $("#uploader").plupload({
        runtimes : 'html5',
        max_file_size : '4mb',
// With chunking on, we get two bugs:
// - Upload stops after two error messages, can be restarted with 'Start upload'
// - Chunks are send with the wrong filename, for files that are in the queue right
//   after files that cause an error message.
//        chunk_size : '100mb',
        unique_names : true,
        multiple_queues : true,

        headers : {'X-CSRFToken' : '{{ csrf_token }}'},

        // This will be used below to send the filename.
        multipart_params: {},

        // Rename files by clicking on their titles
        rename: true,

        // Sort files
        sortable: true,
    });

    // When sending a large file in chunks, the original filename is lost.
    // To have the client-side filename at the server, multipart_params
    // is used as a workaround. For small files, request.FILES['file']
    // also provides us with the filename.

    var uploader = $('#uploader').plupload('getUploader');
    uploader.bind('beforeUpload', function (u, f) {
        u.settings.multipart_params.filename = f.name;
    });

    // Client side form validation
    $('form').submit(function (e) {
        var uploader = $('#uploader').plupload('getUploader');

        // Files in queue upload them first
        if (uploader.files.length > 0) {
            // When all files are uploaded submit form
            uploader.bind('StateChanged', function () {
                if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                    $('form')[0].submit();
                }
            });

            uploader.start();
        } else {
            alert('You must at least upload one file.');
        }

        return false;
    });

    // Display error messages returned by the server
    uploader.bind('FileUploaded', function (up, file, response) {
        // Always refresh the uploaded file tables
        upload_page_functions.refresh_uploaded_file_tables();

        response = $.parseJSON(response.response);

        if (response.error) {
            up.trigger('Error', {
                code: plupload.GENERIC_ERROR,
                message: plupload.translate('Upload Error.'),
                details: response.error.details,
                file: file
            });
        }
    });
});
</script>
