<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"
    href="{{ STATIC_URL }}lizard_progress/lizard_progress_errors.css" />
  <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}lizard_progress/lizard_progress_errors.js"></script>
</head>
<body>

{% if view.errors %}
<h2>Foutmeldingen voor {{ view.uploaded_file.filename }}</h2>

{% if view.uploaded_file.has_possible_requests %}
<p>{% if view.uploaded_file.is_fixable %}<strong>Alle</strong>{% else %}Sommige{% endif %} fouten in dit bestand kunnen wellicht verholpen worden met behulp van aanvragen. Zie de <a href="{% url "changerequests_possiblerequests" project_slug=view.uploaded_file.activity.project.slug activity_id=view.uploaded_file.activity.id uploaded_file_id=view.uploaded_file.id %}">mogelijke aanvragen</a> pagina.</p>
{% endif %}

{% if view.general_errors %}
<h3>Algemene fouten</h3>
<ul>
{% for error in view.general_errors %}
<li>{{ error }}</li>
{% endfor %}
</ul>
{% endif %}

{% if view.lines_and_errors %}
<h3>Fouten per regel</h3>
<p><input type="checkbox" id="toggle-success-line">Toon regels zonder fouten</p>

<table class="file-errors" cellpadding="1" cellspacing="0">
{% for line in view.lines_and_errors %}
  <tr class="file-errors {% if line.has_error %}errorline{% else %}successline{% endif %}" style="{% if line.has_error %}{% else %}display: none{% endif %}">
    <td>{{ line.line_number }}</td>
    <td class="{% if line.has_error %}error{% else %}noerror{% endif %}">
    {{ line.file_line }}</td>
    <td>
    {% for error in line.errors %}
    {{ error }}
    {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% else %}
<h2>Er zijn geen fouten voor {{ view.uploaded_file.filename }}.</h2>
{% endif %}
</body>
</html>
