{% extends "lizard_progress/progressbase2.html" %}

{% block content %}
    {% include "lizard_progress/projectswitcher.html" %}    


    <div class="container" id="project-details">
      
      <div class="row">
        <div class="col-md-11">
			<div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Monstervakken</h3>
              </div>

          <div class="panel-body">

			<p>Er kan per project een lijnenshape ingevoerd worden, de zogenaamde
			"monstervakken". Deze zijn te downloaden door opdrachtnemers en kunnen
			weergegeven worden op de kaart.</p>

			<p>De monstervakcodes moeten in de shapefile staan in het veld <strong>{{ view.hydrovakken_id_field }}</strong>. Dit kan aangepast worden onder "Configuratie".</p>

			<form method="post" action="" enctype="multipart/form-data" id="simple-upload-form">
			  {{ view.form.as_p }}
			  <input type="submit" value="Versturen" class="btn btn-primary">
			  {% csrf_token %}
			</form>
            </div>

            </div>
	
        
        </div>

      {% include "lizard_progress/sidebar_include.html" with active="activities" %}
      </div>
    </div>        
			
{% endblock content %}
