{% extends "lizard_progress/progressbase2.html" %}

{% block content %}
    <div class="container" id="project-slug">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <span class="org">
              <a href="/">{{ view.organization|lower }}</a> / 
            </span>
            <span class="project projecttoggle">
              <a href=".">instellingen</a>
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class="container" id="project-details">
      
      <div class="row">
      <div class="col-md-2">
        <div class="list-group settings-menu">
          <a href="/us/admin/organization/errorconfiguration/" class="list-group-item">Algemeen</a>
          <a href="/us/users/" class="list-group-item">Gebruikersbeheer</a>
          <a href="/us/projects/documents/download/" class="list-group-item">Documentenbeheer</a>
          <a href="{% url "lizard_progress_editvisibility" %}" class="list-group-item active">Zichtbaarheid Metingtypes</a>
<!--           <a href="#" class="list-group-item">Inpeiling</a>
          <a href="#" class="list-group-item">Uitpeiling</a> -->
        </div>
      </div>      
        <div class="col-md-10">
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-eye-slash"></i>&nbsp;Zichtbaarheid metingtypes</h3>
              </div>

          <div class="panel-body">

            <p>De functionaliteit van een bepaald metingtype (bijvoorbeeld Dwarsprofielen die ingevoerd worden als MET-files) kan beschikbaar zijn onder verschillende namen, om hetzelfde type op meerdere manieren te kunnen gebruiken binnen een project. Bijvoorbeeld "Dwarsprofielen: inpeilen" en "Dwarsprofielen: uitpeilen".</p>
            <p>Aangezien niet elke organisatie dit altijd op dezelfde manier zal willen toepassen, is het op deze pagina mogelijk om metingtypes zichtbaar en onzichtbaar te maken. Dit kan natuurlijk ook gebruikt worden als bepaalde metingtypes op dit moment niet relevant zijn voor uw organisatie, en u ze tijdelijk niet hoeft te zien in de lijst.</p>
            <p>Zichtbaarheid heeft alleen effect op het aanmaken van nieuwe projecten en het toevoegen
            van werkzaamheden aan bestaande. Bestaande werkzaamheden blijven onveranderd.</p>

            <table class="table table-bordered progressbase">
              <thead>
                <th>Functionaliteit</th>
                <th>Omschrijving</th>
                <th>Zichtbaar?</th>
                <th>Veranderen</th>
              </thead>
              {% for mtype in view.allowed_measurement_types %}
                <form method="post" action="{% url "lizard_progress_editvisibility" %}">
                  {% csrf_token %}
                  <input type="hidden" name="slug" value="{{ mtype.mtype.slug }}">
                  <input type="hidden" name="new_visibility" value="{% if mtype.visible %}0{% else %}1{% endif %}">
                  <tr {% if mtype.visible %}class="success"{% endif %}>
                    <td>{% firstof mtype.mtype.implementation mtype.mtype.slug %}</td>
                    <td>{{ mtype.mtype }}</td>
                    <td>
                      {% if mtype.visible %}
                        <i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Zichtbaar"></i>
                      {% else %}
                        <i class="fa fa-eye-slash" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Niet zichtbaar"></i>&nbsp;
                      {% endif %}
                    </td>
                    <td>
                      <input type="submit" value="{% if mtype.visible %}Maak onzichtbaar{% else %}Maak zichtbaar{% endif %}" class="btn btn-small btn-primary">
                    </td>
                  </tr>
                </form>
              {% endfor %}
            </table>
            </div>

            </div>
  
        
        </div>

      
      </div>
    </div>        
{% endblock content %}