{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
<style type="text/css">
div#content {
    padding: 20px;
}
</style>
{% endblock css %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Admin</h2>
  {% include "lizard_progress/admin_tasks.html" %}
</div>
{% endblock sidebar %}
{% block content %}
{# <h1>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h1> #}
{% if wizard.form.is_multipart %}
<form enctype="multipart/form-data" method="post" action="">
{% else %}
<form method="post" action="">
{% endif %}
{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p }}
    {% endfor %}
{% else %}
    {{ wizard.form.as_p }}
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" name="submit" value="{% trans "submit" %}" />
</form>
{% endblock content %}
