{% extends "lizard_progress/progressbase2.html" %}{% load i18n %}

{% block content %}

    <div class="container" id="project-slug">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <span class="org"><a href="../">{{ view.organization|lower }}</a> / </span><span class="project"><a href="#">nieuw project</a></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

              
              {% if not view.user_is_manager %}
                <p>U bent geen projectbeheerder en mag geen nieuwe projecten toevoegen.</p>
              {% else %}
                <form action="" method="post" class="form-horizontal">{% csrf_token %}
                  {{ view.form.non_field_errors }}

                  {% for fields in view.grouped_form_fields %}

                    {% if forloop.counter <= 2 %}
                      <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">
                        {{ fields.0.label_tag }}
                        </label>
                        <div class="col-sm-10">
                          {{ fields.0 }}{{ fields.0.errors }}
                        </div>
                      </div>
                    {% else %}
                    <div class="panel panel-default">
                      <div class="panel-body">                    
                      <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">
                          {{ fields.0.label_tag }}
                        </label>
                        <div class="col-sm-10">
                           <!-- <input type="text" class="form-control" id="description" placeholder="Projectnaam"> -->
                           {{ fields.0 }}{{ fields.0.errors }}
                        </div>
                      </div>     
                      </div>
                    </div>         
                  {% endif %}                    
                {% endfor %}

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Nieuw project toevoegen</button>
                    </div>
                  </div>

                
              </form>
            <hr size="1" noshade />
            <p class="small">Instellen uit welke metingtypes hier gekozen kan worden? Zie
            de <a href="{% url "lizard_progress_editvisibility" %}"><i
            class="icon-pencil"></i> "Zichtbaarheid Metingtypes"</a> pagina.</p>
          {% endif %}
    



    </div>

{% endblock content %}
