{% extends "lizard_progress/progressbase2.html" %}{% load i18n %}

{% block extra_js %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.min.js"></script>
<script>
$(document).on('ready', function() {
  $('input.form-control').first().focus();
});
</script>
<style>
.bootstrap-select.btn-group {
    margin-bottom: 20px !important;
}
</style>
{% endblock extra_js %}

{% block content %}

    <div class="container" id="project-slug">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <span class="org"><a href="../">{{ view.organization|lower }}</a> / </span><span class="project"><a href="#">nieuw project</a></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

              
              {% if not view.user_is_manager %}
                <p>U bent geen projectbeheerder en mag geen nieuwe projecten toevoegen.</p>
              {% else %}
                <form action="" method="post" class="form-horizontal">{% csrf_token %}
                  <p class="text-warning">{{ view.form.non_field_errors }}</p>

                  {% for fields in view.grouped_form_fields %}
                      <div class="panel panel-default">
                        <div class="panel-body">
                          {% for field in fields %}
                            <div class="col-sm-12">
                              {{ field.label_tag}}{{ field }}<span class="text-warning">{{ field.errors }}</span>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                {% endfor %}

                  <div class="form-group">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Nieuw project toevoegen</button>
                    </div>
                  </div>

                
              </form>
            <hr size="1" noshade />
            <p class="small">
              Instellen uit welke metingtypes hier gekozen kan worden?
              Zie de <a href="{% url "lizard_progress_editvisibility" %}"><i class="icon-pencil"></i> "Zichtbaarheid Metingtypes"</a> pagina.
            </p>
          {% endif %}


    



    </div>

{% endblock content %}
