{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}lizard_progress/lizard_progress.css"/>
<style type="text/css">
div#content {
    padding: 20px;
}
</style>
{% endblock css %}

{% block breadcrumbs %}
{{ block.super }}
&rarr; <a href="{% url lizard_progress_admin %}" rel="tipsy-south" title="Administratieve taken">Admin</a>
{% endblock breadcrumbs %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Admin</h2>
  {% include "lizard_progress/admin_tasks.html" %}
</div>
{% endblock sidebar %}

{% block content %}
{# <h1>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h1> #}
{% if wizard.form.is_multipart %}
<form enctype="multipart/form-data" method="post" action="">
{% else %}
<form method="post" action="">
{% endif %}
{% csrf_token %}
{{ wizard.form.media }}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p }}
    {% endfor %}
{% else %}
    <table class="wizard-table">
    {{ wizard.form.as_table }}
    </table>
{% endif %}
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "Opnieuw" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "&lt; Terug" %}</button>
{% endif %}
<input type="submit" name="submit" value="{% trans "Verder &gt;" %}" />
</form>
{% endblock content %}
